### Introduction to Python

### The following concepts shall be covered in the notebook
* Print Statements
* Variables
* Different Data-Types
* String Formatting

#### Printing output - We shall use a string (sequence of words) to print the sentence to the output
* We have an input cell and output cell in the notebook. 
* Passing a value to the print() function shall be used to print the output to the screen
* In python, the sentences are stored in either ' quotes or " quotes
* We can use them to print the values in the following way

In [2]:
## Using single quotes

Hello World

In [3]:
## Using Double quotes

Hello World

We have seen how the output is print using the print in-built function
Now , we shall start with the basic values (Numeric/String)  in python
* The numeric values that can be used in python are of three types
    * Integer 
    * Float 
    * Complex Type

* Integer type

22

* Floting type

22.32

* Complex Type

(3+4j)

#### Let us perform  some basic operations on the numbers
* Addition
* Subtraction
* Multiplication
* Division
* exponent

In [8]:
## Addition 4 + 3

7

In [9]:
## Subtraction 6 -3

3

In [10]:
### Multiplication 5 * 3

15

In [11]:
### Division 5/3

1.6666666666666667

In [16]:
### Division with two front slashes provides the output as below - 
### it rounds off to the nearest integer.  5//3

1

In [17]:
## Divide 12 by 12/2

6.0

In [18]:
# DIvide 12//2

6

In [22]:
## Exponent 2**3

8

In [23]:
## Exponent 4**2

16

#### Lets look at how to represent the string data type in Python
#### When we say string - It is sequence of characters. 
* String are generally enclosed in single quotes or double quotes.

In [28]:
### Use quotes to represent the data 'Hello World'

'Hello World'

In [29]:
### Print 'Hello World!' to console

Hello World!

In [25]:
### Typing the word Hello World!"

'Hello World!'

In [30]:
### Print "Hello World!" to console print("Hello World!")

Hello World!

In [26]:
### Represent 'This is python' in single quotes 'This is python '

'This is python '

In [31]:
#### Print 'This is python ' in single quotes and pass it to the print function print('This is python ')

This is python

In [27]:
#### Represent "This is Python " in double quotes "This is Python"

'This is Python'

In [32]:
### Print "This is Python" in double quotes and pass it to the print function print("This is Python")

This is Python

#### How to know which data type each value represents
* Use the type function

In [33]:
# type of int value 20

int

In [34]:
# type of float value 23.2

float

In [35]:
# type of string value "Python"

str

In [36]:
## Type of complex number 3+4j

complex

#### How to store values in Python - Use Variables
* Use of variables in python
* Python is a dynamically typed programming language
  * Dynamically Typed programming language is one where reassigment of values for different datatypes is possible

In [37]:
# Below x is a variable and it is being assigned a integer value of 10 , x = 10

In [38]:
# x

10

In [42]:
## check the type of x - It is of type integer.

int

In [40]:
## Y is a variable and it is being assigned a float value of 20.33

20.33

In [43]:
### Check the type of y - It is of type float

float

In [45]:
### z is a variable and it is being assigned a complex numebr of 3+2j

(3+2j)

In [47]:
### Check the type of z it is of complex type.

complex

In [50]:
### A comlpex number has two parts - real part and imaginary part
### real part is got from z.real

3.0

In [51]:
### A complex number has two parts   - real part and imaginary part
### imaginary part is got from z.imag

2.0

* Exercise - Compute area of triangle with given base and height

In [4]:
### area of trainge is given using the formula 0.5*b*h
base = 20
height = 15

Area of trinagle is  150.0

#### Let us see how strings can be formatted

In [7]:
### We want to print \ within the enclosed single quotes. We can do as below
### \n stands for new line

hello
ew world

* Two ways to escape the string character as mentioned below

In [14]:
### using the raw format of the string

hello \new world

In [9]:
### If we want to escape the \ we use another \ to escape it

hello \new world

* to specify tab space in the string

In [10]:
## If  use \t then it used as tab

hello 	 world

* Specify the apostrophe and present it as an escape character

In [11]:
### We want to include quote in the output of print statement.We can print the statement as follows

it's a new world

* Multi line statements in print statements

In [12]:
### Multiple line can be used in the following way - Single quote

This is how first line
second line
third line are printed

In [13]:
### Multiple line can be used in the following way - Single quote

This is how first line
second line
third line are printed

#### Formatting string values

* Using index values within curly braces to print the output value

In [21]:
### Using format function on top of the stirng value to print the output as follows

Product of 2 and 3 is 6

In [22]:
### Let say we have more that 2 value and want to format in the string values it can be done 
### as following

Product of 2 and 3 is 6

In [28]:
### For string values it will be denoted as following

How are you doing ?

In [ ]:
### Formating string using variables within the single quotes
name = "Rajesh"
print(f'{name}, can you please start programming python')

In [2]:
print('Hello','world')

Hello world

In [3]:
print('hello','world',sep=':')

hello:world

* Expressing float values in print statements

Value of pi is 3.14

In [ ]:
* Exercise using string foramtting print the area of triangle in a single line
height = 50
length = 10
print() ## write code inside the print function

#### using varaibles in print statements

* integer and float variables in print statements

In [30]:
x = 10
print('Value is ' , x)

Value is  10

In [31]:
## The below throws an error
print('value is' + x)

TypeError: can only concatenate str (not "int") to str

In [32]:
### To correct the above statement we shall do the following
print('Value is ' + str(x))

Value is 10

* We shall come back to print formatting later as we get into other data structures in python

#### Let us look at some other functions for integers, float and string

In [42]:
### Integer or float value is given - we need to convert it to string. 
### The following we can perform it
value = 10
str(value)

'10'

In [43]:
fl2 = 30.5
str(fl2)

'30.5'

In [49]:
### Integer/float String value is given, we need to convert that into int or float value
str1 = '10'
print(str1 + ' ' , type(str1))
print(str1 + ' ' , int(str1) , type(int(str1)))

10  <class 'str'>
10  10 <class 'int'>

In [51]:
str2 = '10.54'
print(str2 + ' ' , type(str2))
print(str2 + ' ', float(str2), type(float(str2)))

10.54  <class 'str'>
10.54  10.54 <class 'float'>