* break statement in Python
    - The break statement breaks out the loop while performing the operations

In [20]:
## Lets try with few names with the break statement. We break from the loop if the name is chandra
friends = ['Amrit','Bahubali','Chandra','Dabesh','Elangovan','Ganesh']

Name is  Amrit
Name is  Bahubali
The loop is gone with Chandra

In [9]:
## Find the second multiple of a number - lets say 3 - We shall use break to come out of loop
number = 3
for num in range(number,10):
    pass

The first multiple of 3 is  6

* break and else statement

In [ ]:
### Find the prime numbers from 2 to 20 using for loops for n in range(2,20): for x in range(2,n):

* break statement in while loop

In [16]:
### Name of friends - and we want to loop using while and break if name is chandra
friends = ['Amrit','Bahubali','Chandra','Dabesh','Elangovan','Ganesh']
flen = len(friends)
n = 0

Value of n is 2
Name is Chandra

* **break** statement and else in while loop

In [17]:
### While and else loop - search for condition if name matches Mayank - else condition after while
friends = ['Amrit','Bahubali','Chandra','Dabesh','Elangovan','Ganesh']
flen = len(friends)
n = 0

Mayank has not been found in the list

* **Continue** - It has been borrowed from C programming language.
Unlinke, break, continue just iterates over the loop. It continues

In [19]:
## Iterate over the list friends and see if the name matches Chandra and put continue
friends = ['Amrit','Bahubali','Chandra','Dabesh','Elangovan','Ganesh']
for name in friends:
    pass

Name is  Amrit
Name is  Bahubali
Name is  Dabesh
Name is  Elangovan
Name is  Ganesh

* **continue** with while loop

In [23]:
## Iterate over the list friends and see if the name matches Chandra and put continue
friends = ['Amrit','Bahubali','Chandra','Dabesh','Elangovan','Ganesh']
flen = len(friends)
n = 0

Name is  Amrit
Name is  Bahubali
Name is  Dabesh
Name is  Elangovan
Name is  Ganesh

* **Collections in Python**
    - collections are in-built module in python that can be used as alternatives to the built-in types like list,dict,set and tuple
    - These are specialized type of containers that can hold multiple objects.
    - Various types of collections are :
        - namedtuple
        - deque
        - ChainMap
        - Counter
        - OrderedDict
        - defaultDict

* namedtuple
    - can be used wherever tuples are used. 
    - Additional ability for fields - fields can be accessed by using names instead of position index

In [1]:
### Lets start with namedtuple - Instead of accessing the position based on index 
### we can access using the name. - Import the namedtuple module using collections
#from collections import namedtuple
#Student = namedtuple('Student','name,age,department,year')

In [2]:
## Based on the position the values are assigned st1 = Student('Rajesh',19,'CSE','IInd')

In [3]:
# check the type of student
#type(st1)

__main__.Student

In [4]:
# Print the age of the student using dot operator

19

In [5]:
### Lets say we want to unpack all the values of Tuple to variables then we can have name,age,department, year = st1

In [6]:
# Print the name from above unpacked variables. - print(name)

Rajesh

In [7]:
## View how the values of st1 are constructed in st1 st1

Student(name='Rajesh', age=19, department='CSE', year='IInd')

In [8]:
# namedtuple can be accessed using the index or based on the name print('Name, Age, deparment, year are {} {} {} {}'.format(st1.name,st1.age,st1.department,st1.year))
# print('Using Index - Name:{} , Age:{} , deparment:{} , year:{} '.format(st1[0],st1[1],st1[2],st1[3]))

Name, Age, deparment, year are Rajesh 19 CSE IInd
Using Index - Name:Rajesh , Age:19 , deparment:CSE , year:IInd

In [9]:
## We can also assign based on the names st2 = Student(name='Srilakshmi',department='IT',age=19,year='IInd')

In [10]:
# print('Using Index - Name:{} , Age:{} , deparment:{} , year:{} '.format(st2[0],st1[1],st1[2],st1[3]))

Using Index - Name:Srilakshmi , Age:19 , deparment:CSE , year:IInd

* _make()

In [15]:
# _make() can be used to create a new namedtuple   data = ['Kailsh',18,'Humanities','Ist']  st3 = Student._make(data)

Student(name='Kailsh', age=18, department='Humanities', year='Ist')

* _asdict()

In [16]:
# _asdict() converts the namedtuple to a dictionary. st3._asdict()

{'name': 'Kailsh', 'age': 18, 'department': 'Humanities', 'year': 'Ist'}

* _fields - Returns fields names as tuples

In [17]:
# st3._fields

('name', 'age', 'department', 'year')

#### deque

* deque (double ended queue) - Pronounced as deck
   - Stands for double ended queue
   - It is used both as stack and queue

<img src='dequeue.JPG'/>

In [15]:
## To use deque 
from collections import deque #d1 = deque()

* append()

In [28]:
# Use d1.append() to append names

In [17]:
# Use d1.appendleft() to append to left of deque

In [18]:
d1

deque(['Ch', 'Abhay', 'Akhil', 'Ashutosh', 'Bimal', 'Bhanu', 'Chirag'])

* .copy() on d1 makes a shallow copy of deque

In [ ]:
# d2 = d1.copy()

deque(['Ch', 'Abhay', 'Akhil', 'Ashutosh', 'Bimal', 'Bhanu', 'Chirag'])

* extend()

In [21]:
#d1.extend(['Daman'])

deque(['Ch',
       'Abhay',
       'Akhil',
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag',
       'Daman'])

deque(['Ch', 'Abhay', 'Akhil', 'Ashutosh', 'Bimal', 'Bhanu', 'Chirag'])

* pop()

In [24]:
# call .pop() on d2

'Chirag'

In [26]:
# pop() on d1

'Daman'

* insert()

In [30]:
# Insert a value at a index

deque(['Ch',
       'Abhay',
       'Mayank',
       'Akhil',
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag',
       'Abhay',
       'Akhil',
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag'])

In [32]:
# Insert multiple values at a particular index.

In [33]:
#

deque(['Ch',
       'Abhay',
       'Mayank',
       'Akhil',
       ['Narang', 'Berang'],
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag',
       'Abhay',
       'Akhil',
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag'])

* len()

In [34]:
## Length of deque

15

* remvoe()

In [35]:
## remove elements from the deque using the following

In [36]:
d1

deque(['Ch',
       'Abhay',
       'Mayank',
       'Akhil',
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag',
       'Abhay',
       'Akhil',
       'Ashutosh',
       'Bimal',
       'Bhanu',
       'Chirag'])

#### ChainMap -
    * ChainMap groups multiple dictionaries to create a single view
    * If we have multiple dictionaries and we want to update the dictionary then a chainMap is a better option

In [1]:
from collections import ChainMap

In [2]:
#### We create three ChainMaps for three teams for three years ipl - iplCMap  = ChainMap(players_ipl1,players_ipl2,players_ipl3)

ChainMap({'ShubmanGill': 'kkr', 'MSDhoni': 'CSK', 'HardikPandya': 'GT'}, {'ShubmanGill': 'Punjab', 'MohitSharma': 'CSK', 'ViratKohli': 'RCB'}, {'ShubmanGill': 'GT', 'MohitSharma': 'GT', 'DevonConway': 'CSK'})

ChainMap({'ShubmanGill': 'kkr', 'MSDhoni': 'CSK', 'HardikPandya': 'GT'}, {'ShubmanGill': 'Punjab', 'MohitSharma': 'CSK', 'ViratKohli': 'RCB', 'RavinderJadeja': 'CSK'}, {'ShubmanGill': 'GT', 'MohitSharma': 'GT', 'DevonConway': 'CSK'})

* maps on ChainMap

In [2]:
# Call maps on the chainmap created and iterate it over the chainMap

* parents on ChainMap

In [3]:
# iplCMap.parents

* new_child on ChainMap

In [5]:
## Add new key value pair to the chainMap and assign it to a variable

#### Counter

In [32]:
from collections import Counter

In [6]:
# Creating an empty counter cntr = Counter()

In [35]:
words = """In computer programming, a string is 
traditionally a sequence of characters, either as 
a literal constant or as some kind of variable. The 
latter may allow its elements to be mutated and the 
length changed, or it may be fixed (after creation). 
A string is generally considered as a data type and 
is often implemented as an array data structure of 
bytes (or words) that stores a sequence of elements, 
typically characters, using some character encoding. 
String may also denote more general arrays or other 
sequence (or list) data types and structures."""
### Split the sentences above to get the words

* most_common on Counter

In [7]:
## pass words to counter and call most_common() to get the occurrences of each word in the data

* elements() - Returns an iterable , on which we can find the elements for this

In [58]:
#words_count = Counter(words) words_count.elements() # It is a iterable object

* total() on Counter object gives the total count of the elements

92

* subtract() on two counter objects

In [62]:
## S p1 = Counter(Choclates=5,Biscuits=8,Oranges=3) p2 = Counter(Choclates=7,Biscuits=9,Oranges=2)

In [8]:
## Print the total for two p1 and p2

* convert counter to list

In [9]:
## using list() convert p1 to list

* Convert counter to set

In [10]:
## Using set() convert p1 to set

* Convert counter to dict

In [11]:
## using dict() convert p1 to dict

### OrderedDict
    * Insertion Order is better in the OrderDict than the dict 
    * OrderedDict can handle reordering of elements better than dict
    * has additional methods like move_to_end method to efficiently reposition on the element

In [73]:
from collections import OrderedDict

In [74]:
od1 = OrderedDict()

In [89]:
od1['Ravi'] = 'IT'
od1['Surya'] = 'CSE'
od1['Kiran'] = 'IT'

In [76]:
od1

OrderedDict([('Ravi', 'IT'), ('Surya', 'CSE'), ('Kiran', 'IT')])

* sorted method on ordered dict shall returns list of keys in sorted order

In [80]:
sorted(od1)

['Kiran', 'Ravi', 'Surya']

* keys()

In [82]:
for i in od1.keys():
    print(i)

Ravi
Surya
Kiran

* values()

In [83]:
for i in od1.values():
    print(i)

IT
CSE
IT

* items()

In [86]:
for k,v in od1.items():
    print(f'Key is {k} and value is {v}')

Key is Ravi and value is IT
Key is Surya and value is CSE
Key is Kiran and value is IT

* popitem() returns the items in the order LIFO (Last in First Out).
    * if last=False then FIFO is used

In [87]:
od1.popitem()

('Kiran', 'IT')

In [90]:
od1.popitem(last=False)

('Ravi', 'IT')

In [91]:
od1

OrderedDict([('Surya', 'CSE'), ('Kiran', 'IT')])

In [92]:
## Add the key again to the orderedDict
od1['Ravi'] = 'IT'
od1

OrderedDict([('Surya', 'CSE'), ('Kiran', 'IT'), ('Ravi', 'IT')])

* move_to_end() moves the key to end of the ordered Dictionary

In [93]:
od1.move_to_end('Surya')

In [94]:
od1

OrderedDict([('Kiran', 'IT'), ('Ravi', 'IT'), ('Surya', 'CSE')])

####  Defaultdict
* Whenever missing keys/values are encountered then no error can be thrown with Defaultdict. It takes a deafult factory such that when key is not present it returns that object

In [97]:
## How to use it 
from collections import defaultdict

In [98]:
dd1 = defaultdict(str)

In [101]:
stdDepts  = [('Kiran', 'IT'), ('Ravi', 'IT'), ('Surya', 'CSE'),('Mitra','IT')]
for student,dept in stdDepts:
    print(f'Student name is {student} and dept name is {dept}')
    dd1[student]=dept

Student name is Kiran and dept name is IT
Student name is Ravi and dept name is IT
Student name is Surya and dept name is CSE
Student name is Mitra and dept name is IT

In [102]:
dd1

defaultdict(str, {'Kiran': 'IT', 'Ravi': 'IT', 'Surya': 'CSE', 'Mitra': 'IT'})

Lets try to retrieve the values from the dictionary - if the key is not present it returns a defualt string value

In [106]:
dd1.get('Kiran')

'IT'

In [107]:
# If the value is not present it returns a empty string value
dd1['Mayanak']

''