## What is SQLite?

- SQLite is a C library that provides a lightweight database
- The database can be stored on disk
- SQL Query language can be used to run the queries against it.
- Internal Storage can be done using the SQLite database.
- It can be ported to PostgreSQL or Oracle later

In [1]:
## In order to connect to SQLite DB we use the Sqlite3 DB-API 2.0
import sqlite3

**Step 1:** Create a connection object to the database

In [2]:
## Create a connection to the database
conn = sqlite3.connect("products.db")

## The conn object represent the connect object to the disk-based object. product.db has been created on the database
type(conn)

sqlite3.Connection

**Step 2:** Create a cursor object by using the connection object</br>
  - Cursor object is used to xecute the SQL statements and fetch results from the SQL Queries.
  - con.cursor() is used to create the cursor

In [4]:
### Cursor object
cur = conn.cursor()

**Step 3:** Create a table by using the connection object</br>

In [5]:
cur.execute("""
   CREATE TABLE orders(
   _id INT PRIMARY KEY     ,
   customer_id INT NOT NULL,
   age int,
   status CHAR(10), 
   paymentType CHAR(10)
);
""")

**Step 4:** Select data from sql_master</br>

In [8]:
### We can verify that the new table has been created by querying the sqlite_master table built-in to SQLite,
result = cur.execute("SELECT name FROM sqlite_master")
result.fetchone()

('orders',)

In [9]:
### We can check if other databases are available in the sql_master database
res = cur.execute("SELECT name FROM sqlite_master WHERE name='order_details'")
res.fetchone() is None

True

**Step 5:** insert data into the tables</br>

In [11]:
### We can insert data into the tables 
cur.execute("""
    INSERT INTO orders VALUES
        (101,2100,34,'paid','creditCard'),
        (102,2102,25,'checkout','upi-netbanking')
"""
)

**Step 6:** Commit the transaction

In [13]:
### The INSERT statement implicitly opens a transaction, which needs to be committed before changes are saved in the database (see Transaction control for details). Call con.commit() on the connection object to commit the transaction:
conn.commit()

**Step 7:** Retrieve the details

In [14]:
res = cur.execute("SELECT status FROM orders")
res.fetchall()

[('paid',), ('checkout',)]

**Insert more data**

In [ ]:
data = [
    (103,2101,25,'expired','creditCard'),
    (104,2103,25,'expired','creditCard'),
    (105,2104,26,'completed','upi-netbanking'),
]
cur.executemany("INSERT INTO orders VALUES(?, ?, ?, ?, ?)", data)

In [18]:
conn.commit()  # Remember to commit the transaction after executing INSERT.

**Select the data using cursor execute**

In [19]:
for row in cur.execute("SELECT age, paymentType FROM orders ORDER BY age"):
    print(row)

(25, 'upi-netbanking')
(25, 'creditCard')
(25, 'creditCard')
(26, 'upi-netbanking')
(34, 'creditCard')

**Close the connection**

In [20]:
conn.close()

#### Demo -ORM Mapping class in visual studio code