In [7]:
def sayHappyBirthday():
    pass

print('Happy Birthday to you !')
print('Happy Birthday to you !')
print('Happy Birthday to Kittu !')
print('Happy Birthday to you....')

Happy Birthday to you !
Happy Birthday to you !
Happy Birthday to Kittu !
Happy Birthday to you....

In [8]:
sayHappyBirthday()

In [11]:
# Step 0 " Write a function with name sayHappyBirthday and input variable as namePerson"
def sayHappyBirthday(namePerson):
    print('Happy Birthday to you !')
    print('Happy Birthday to you !')
    print('Happy Birthday to {} !'.format(namePerson))
    print('Happy Birthday to you....')

In [13]:
sayHappyBirthday('Archana')

Happy Birthday to you !
Happy Birthday to you !
Happy Birthday to Archana !
Happy Birthday to you....

In [14]:
bdayName = input('Enter the birthday persons  name ..')

Enter the birthday persons  name ..Vishal

In [15]:
bdayName

'Vishal'

In [16]:
sayHappyBirthday(bdayName)

Happy Birthday to you !
Happy Birthday to you !
Happy Birthday to Vishal !
Happy Birthday to you....

In [ ]:
# Step 0 " Write a function with name sayHappyBirthday and input variable as namePerson"
# Step 1 : get the input from the command line - using input function
# Step2 : Pass the bdayname variable to the sayHappyBirthday function

In [19]:
# Step 1 : get the input from the command line - using input function
bdayName = input('Enter the birthday persons  name ..')
# Step2 : Pass the bdayname variable to the sayHappyBirthday function
sayHappyBirthday(bdayName)

Enter the birthday persons  name ..Nikhil
Happy Birthday to you !
Happy Birthday to you !
Happy Birthday to Nikhil !
Happy Birthday to you....

In [ ]:
# Step 0 : Write a function to compute the operations on two inputs x and y
# step 1 : Compute the operations on the two values passed
# step 2 : Return the computed values for addition, multiplication and subtraction

In [28]:
a,b,c,d = 3,4,5,'hello'

In [30]:
print(a)
print(b)
print(c)
print(d)

3
4
5
hello

In [31]:
def compute(x,y):
    addition = x + y
    multiplication = x*y
    subtraction = x - y
    return addition,multiplication,subtraction

In [46]:
int(10.5)

ValueError: invalid literal for int() with base 10: '10.5'

In [45]:
int(20.5)

20

In [ ]:
102 = 10**0 * 2 + 10**1*0 + 10**2*1

In [51]:
int('102')

102

In [56]:
int('111001',base=2)

57

In [57]:
int('AB78C',base=16)

702348

In [49]:
x = input('Enter the first value : ')
y = input('Enter the second value : ')
x = float(x)
y = float(y)
addxy,multiplyxy,subxy = compute(x,y)

Enter the first value : 10.5
Enter the second value : 20.5

In [50]:
print(addxy)
print(multiplyxy)
print(subxy)

31.0
215.25
-10.0

### Conditional Statements

In [58]:
## if, elif and else
age = 10 
if age <= 10:
    print('Child')
elif age > 10 and age <= 16:
    print('Teenager')
elif age > 16 and age <= 22:
    print('Youth')
elif age > 22 and age <= 40:
    print('Youth++')
elif age > 40 and age <= 60:
    print('Old people')
elif age > 60:
    print('Senior Citizen')
else:
    print('Age group general')

Child

In [59]:
def groupAge(age):
    if age <= 10:
        print('Child')
    elif age > 10 and age <= 16:
        print('Teenager')
    elif age > 16 and age <= 22:
        print('Youth')
    elif age > 22 and age <= 40:
        print('Youth++')
    elif age > 40 and age <= 60:
        print('Old people')
    elif age > 60:
        print('Senior Citizen')
    else:
        print('Age group general')

In [61]:
inputAge = input('Please enter the age ')
inputAge = int(inputAge)

Please enter the age 55

In [62]:
inputAge

55

In [63]:
groupAge(inputAge)

Old people

while Statement

In [66]:
x = 11
while x < 15:
    print(x)
    x = x + 1

11
12
13
14

In [67]:
## infinite loop
#while True:
# print()

## keywords or reserved words in python
1. False 2.class 3. finally 4.is 5.return 6. None 7. continue 8.for
9. lambda 10.try 11.True 12.def 13.from 14.nonlocal 15. while 16.and
17. del 18.global 19.not 20.with 21.as 22.elif 23.if 24.or 25. yield
26. assert 27. else 28. import 29. pass 30. break 31. except 32. in 33. raise