* If we are using '*' as the parameters inside the function then multiple values can be passed
* We can pass multiple values or list to the paramenter that is marked as '*'
* These parameters can be iterated over using for loop

In [4]:
def printStudentDetails(courseName, *grades):
    print(f'Course Name is {courseName} and grades are {grades}')
    for grade in grades:
        print(grade)

In [3]:
printStudentDetails('BSC CSE',['A','B','A+','B+'])

Course Name is BSC CSE and grades are (['A', 'B', 'A+', 'B+'],)

In [5]:
printStudentDetails('BSC CSE','A','B','A+','B+')

Course Name is BSC CSE and grades are ('A', 'B', 'A+', 'B+')
A
B
A+
B+

In [7]:
printStudentDetails('BSC CSE',['A','B','A+','B+'],['A','B','B+','A+'])

Course Name is BSC CSE and grades are (['A', 'B', 'A+', 'B+'], ['A', 'B', 'B+', 'A+'])
['A', 'B', 'A+', 'B+']
['A', 'B', 'B+', 'A+']

In [9]:
printStudentDetails('BSC CSE')

TypeError: printStudentDetails() missing 1 required positional argument: 'courseName'

#### Range
* Range is an object that can generate sequence of numbers
* the syntax for range is range(start,end,step) 
    * start is the starting number
    * end is the ending number 
    * step is the step size of the range object - How many values need to be skipped
* Range object can be iterated over using the for loop

In [11]:
print(range(10))

range(0, 10)

In [13]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [24]:
y = range(1,16,1)
for num in y:
    print(num, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [23]:
y = range(1,16,2)
for num in y:
    print(num, end = ' ')

1 3 5 7 9 11 13 15

In [15]:
l0 = []
l0.append(1)

In [16]:
l0

[1]

In [14]:
#### Create a list object from range
l1 = list(range(10))
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
l2 = []
for i in range(10):
    l2.append(i)
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### List Comprehensions
* Writing and returning a list in a single line
* We generally iterate over a sequence or list and then perform some operations/specify a condition and then return the value of the specified operation
* Multiple lines of code can be reduced to single line using list comprehension

In [25]:
l1 = []
for i in range(10):
    l1.append(pow(i,2))

In [26]:
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
l2 = [pow(i,2) for i in range(10)]
l2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
l3 = [pow(i,2) for i in range(10) if i > 3]

In [29]:
l3

[16, 25, 36, 49, 64, 81]

#### Sets in python

* Sets are data structures in python
* Sets allows only unique values, that is they donot allow duplicate values
* Sets can be constructured using {} braces
* Sets can be iterated over
* Empty set can be created using set() or {}
* Multiple set operations can be performed using Python sets