#### Range Function - range()

* Range Function is a built function
* Range function can be used for creating sequence of integer values
* The Range function can be iterated over
* It can also be used to create other data structures like List and Tuples

In [1]:
range(10)

range(0, 10)

* Range function can be iterated using the for loop
* In the code below, we shall user the 'for' keyword and the 'in' keyword and iterate over the range by passing a value. Alos please note that within the 'print' function we can use the 'end' to iterate over the value

In [3]:
# Example  - Iterating over the range function 
for i in range(10):
    print(i, end=' ')  # Here, in the print function we can use the end as the 
                       #separator to print the output in one single line

0 1 2 3 4 5 6 7 8 9

* Range function has other paramenters - we can understand the parameters as something below :
  startIndex, endIndex and stepSize </br>
  Let us look at an example below - </br>
  The start value/index is given as 2 </br>
  The end value/index is given as 10 </br>
  the step/value index is given as 5 </br>

In [2]:
# start - 4
# end - 18
# step - 2

rng1 = range(4,18,2) # Every alternate number would be printed with the difference in the numbers as 2
for i in rng1:
    print(i , end=' ')

4 6 8 10 12 14 16

* Creating a range and adding it to list
  - In this method we shall create a list outside the range object and then iterate over the range and then add it to list

In [3]:

l1 = []
r1 = range(4,18,2)
for i in r1:
    l1.append(i)
print(l1)        
print(r1)

[4, 6, 8, 10, 12, 14, 16]
range(4, 18, 2)

* Creating the range object and adding it to the list object using list()

In [4]:
r1 = range(4,18,2)
l2  = list(r1)

In [5]:
l2

[4, 6, 8, 10, 12, 14, 16]

### Lists 
* Lists are the objects that are ordered sequentially 
* Lists start from index 0 
* Lists are iterable objects 
* Lists can be iterated over using the for loop
* Lists can be sliced that is they can be indexed over
* Lists can be iterated
* Lists are mutable 
* Addition and deletion of elements/values are possible in List.
* We represent lists using the [] - Square brackets.

In [6]:
r3 = range(4,18,2)
l3 = list(r3)

In [7]:
l3

[4, 6, 8, 10, 12, 14, 16]

* Iterating over lists
  - Using for loop we can iterate over the list
   We create a range object and then create a list object. We iterate over the list object using the for loop

In [10]:
r3 = range(4,18,2) 
l3 = list(r3)
for i in l3 :
    if i > 34:
        break
    doublei = i*2
    if doublei not in l3:
        l3.append(doublei)
    print(i, end=' ')

4 6 8 10 12 14 16 20 24 28 32

* Slicing the list - we use the ':' and '[]' to slice the list objects

* In the example below, we shall build the list using the range object

In [11]:
slicList = list(range(15))
slicList[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

* Slice the l4 list object using the indices from 0 to 5

In [12]:
slicList[0:5]

[0, 1, 2, 3, 4]

* To reveres the list objects in the following format -
  - This will reverse the elements in the reverse format alternate numbers

In [18]:
slicList[::-1]

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [19]:
slicList[::-2]

[14, 12, 10, 8, 6, 4, 2, 0]

* Can also add step size for the list 
   - Step value is how much needs to be added to the previous element to get the next elements in the list

In [22]:
slicList[1:7:2]

[1, 3, 5]

* Slicing of String values in the list

In [13]:
names = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']
names[:]

['Abhilash', 'Bharat', 'Chandra', 'Dinesh', 'Elangovan', 'Freddy', 'Girish']

* using the index on the names list - to get the values from 1st index and 2nd index

In [26]:
names[1:3]

['Bharat', 'Chandra']

In [27]:
names[1:5]

['Bharat', 'Chandra', 'Dinesh', 'Elangovan']

* Reversing the list

In [28]:
names[::-1]

['Girish', 'Freddy', 'Elangovan', 'Dinesh', 'Chandra', 'Bharat', 'Abhilash']

* Check the list now and we shall remove and retrieve the elements using pop
  - pop() returns the element and removes the element from the list

In [29]:
names.pop()

'Girish'

In [32]:
## As we see in the list below once 'girish' is popped, there is no 'girish' element at the end.
names

['Abhilash', 'Bharat', 'Chandra', 'Dinesh', 'Elangovan', 'Freddy']

* find the length of the list using the len() function

In [33]:
len(names)

6

* remove() - Using the remove function on the list removes the element from the list
  - Lets say if we had two values then it removes only first occurrence from the list

In [34]:
names.remove('Freddy')

In [35]:
## Check the names function and we see that Freddy is no longer available in the names list
names

['Abhilash', 'Bharat', 'Chandra', 'Dinesh', 'Elangovan']

* Let us add two values to the list and then apply remove - 
  - Farhan is added twice using the append() funciton

In [36]:
names.append('Farhan')
names.append('Farhan')

In [38]:
## As we see there are two values with the name 'Farhan'
names

['Abhilash', 'Bharat', 'Chandra', 'Dinesh', 'Elangovan', 'Farhan', 'Farhan']

* use remove() on the names list and check the output

In [39]:
names.remove('Farhan')
names ## There is only one value of 'Farhan' in the list

['Abhilash', 'Bharat', 'Chandra', 'Dinesh', 'Elangovan', 'Farhan']

* extend() can add multiple elements to the list

In [14]:
names.extend(['Giridhar','Hema','Jishnu'])

In [15]:
## Display the elements with the latest names added to the list
names

['Abhilash',
 'Bharat',
 'Chandra',
 'Dinesh',
 'Elangovan',
 'Freddy',
 'Girish',
 'Giridhar',
 'Hema',
 'Jishnu']

* Reverse the original list using reverse() function on the list
  - reverse() function reverses the list and generates the output

In [16]:
names.reverse()

In [17]:
names # The list has been reversed and stores the values in the list in reverse order

['Jishnu',
 'Hema',
 'Giridhar',
 'Girish',
 'Freddy',
 'Elangovan',
 'Dinesh',
 'Chandra',
 'Bharat',
 'Abhilash']

* clear() method is used to empty the lists

In [18]:
names.clear()

In [19]:
names ## In the above cell , clear() was used to clear the list and now we have no values in the list

[]

* Iterating over the lists using for loop

In [50]:
### Lets us add the friends to the names list

In [20]:
names = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']

In [21]:
for friend in names:
    print(friend, end =',') ## We can print the value as show in this

Abhilash,Bharat,Chandra,Dinesh,Elangovan,Freddy,Girish,

* Exercise - Add names from the input prompt and store the values in the list

In [3]:
frNames= [] 
while True: 
    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')
    addName = addName.lower()
    if addName == 'yes' or  addName == 'y' :
        name = input('Enter the name of the friend :  ')
        frNames.append(name)
    elif addName == 'no' or addName == 'n':
        print('No more names are added -- Good bye !!')
        print('The friends list are {}'.format(frNames))
        break
    else:
        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')
        break

 Would you like to add a name ? Type yes/y or no/n : What
Wrong Input -- Can accept only yes/y or no/n .. Exiting....

* Elements of the list can be sorted using sort() function

In [58]:
frNames.sort()

In [60]:
frNames

['Bindu', 'Chandra', 'abhishek']

* geting the index of a 'Chandra' from the list using index()

In [62]:
frNames.index('Chandra')

1

* sum() function on the list object
- sum() function is used to calculate the sum of the iterable objects
- In the below example, we pass list to sum function 
- len() function gives the length of the iterable or the list
- Average/mean can be computed using the sum() and len() function

In [3]:
## Lets build a list using 10,11,12,13,14,15,16 - The sum of all the elements in the list can be computed
### in two ways  - sum(intList) or using for loops
intList = [10,11,12,13,14,15,17]
print('Sum of the list of elements',sum(intList))
print(intList)
numOfEle = len(intList)
meanIntLIst = sum(intList)/numOfEle
print(meanIntLIst)

Sum of the list of elements 92
[10, 11, 12, 13, 14, 15, 17]
13.142857142857142

* sum of the elements using the for loop

In [64]:
intList = 10,11,12,13,14,15,16
slist = 0
for i in intList:
    slist += i
print(slist)

91

* list comprehensions are writing simple code in a single line

In [65]:
## Based on the range object lets find the square of each number
y = [x**2 for x in range(5)]

In [66]:
y

[0, 1, 4, 9, 16]

* Condition in the List Comprehension

In [67]:
## We can also include condition within the for comrephension
y = [x**2 for x in range(10) if x%2 == 0 ]
print(y)

[0, 4, 16, 36, 64]

* Condition with the string values/list

In [6]:
### return if only list contains letters starting with s
names = ['sunday','super','semi-conductor','non-conductor','mango','apple']
y = [x for x in names if x.startswith('s')]

In [7]:
y

['sunday', 'super', 'semi-conductor']

In [8]:
del y[0]

In [9]:
y

['super', 'semi-conductor']

### Tuples
 * ` Tuples` are immutable objects that can be represented in ()
   - We cannot add,modify or remove elements from Tuples
 - Tuples can be accessed using indices
 - Tuples are created by passing values to ()
 - Tuples can iterated using for loop
 - Tuple values can be assigned to multiple variables in a single line

In [12]:
tup1 = (25,'Mango','Rajesh',40,25,24,25)
tup1[1]

'Mango'

In [13]:
tup1[3]

40

In [72]:
### Tuples can be iterated over using for loop 
for x in tup1:
    print(x)

25
Mango
Rajesh
40
25
24
25

In [73]:
## Assigning a value to tuple shows error - tuple object does not support assignment
tup1[0] = 35

TypeError: 'tuple' object does not support item assignment

In [14]:
## Count function gives the count of the element in the tuple
tup1.count(25)

3

* A negative index starts from the end of the tuple. It starts at -1

In [15]:
tup1[-1]

25

* len() function on the tuple. when applied on tuple gives the length of the tuple

In [78]:
len(tup1)

7

* Accessing last element using the len() function

In [79]:
tup1[len(tup1) - 1]

25

* As the tuples are immutable we cannot add, modify , remove or replace the elements in tuples
* If the tuples contain mutable datastructures however we can modify the elements within them </br>
Let us look at the example below for more details

In [80]:
names = (['Rajesh','Mukesh'],['Sangeeta','Rithika'])

In [84]:
names[0]

['Rajesh', 'Mukesh']

In [85]:
names[1]

['Sangeeta', 'Rithika']

In [82]:
# This kind of direct assignment to the tuple is not possible ,
# where we are assigning the list elements directly to the tuples first value
names[0] = ['Abhishek','Brijesh']

TypeError: 'tuple' object does not support item assignment

* To access list inside tuple we shall use two indices like the ones used in matrices
- please note that the lists are mutable objects , whereas tuples are not mutable

In [87]:
## We access the inside elements using the syntax below
names[0][0] = 'Abhishek Bachan'

In [88]:
names

(['Abhishek Bachan', 'Mukesh'], ['Sangeeta', 'Rithika'])

In [89]:
names[0][1] = 'Mukesh Khanna'

In [90]:
names

(['Abhishek Bachan', 'Mukesh Khanna'], ['Sangeeta', 'Rithika'])

* Earlier we have seen the assignment of multilpe values in a single line
* Lets us assign multiple values to a single variable and see how the value is assigned

In [16]:
a,b = 10,20

In [17]:
val1 = a,b,a+b

In [18]:
## We see the value assigned is a tuple
val1

(10, 20, 30)

* A tuple is returned from a functon from where it is called if the function returns multiple values

In [94]:
def studentDetails():
    name = 'Ajay'
    subject = 'Python'
    course = 'BBA'
    return name,subject, course

In [95]:
details = studentDetails()

In [96]:
details

('Ajay', 'Python', 'BBA')

* In order to hold values in  different variables from a tuple

In [19]:
a,b ,c = (10,20,30)

In [20]:
print('Values are {} , {} , {}'.format(a,b,c))

Values are 10 , 20 , 30

* type and len functions on tuple

In [99]:
t1 = (10,'Chocolate',20,'Amul')

In [100]:
t1

(10, 'Chocolate', 20, 'Amul')

In [101]:
type(t1)

tuple

In [102]:
len(t1)

4

In [103]:
type(t1),len(t1)

(tuple, 4)

* Converting tuples to list and back to tuples

In [104]:
t1

(10, 'Chocolate', 20, 'Amul')

In [105]:
l1 = list(t1)

In [106]:
l1

[10, 'Chocolate', 20, 'Amul']

In [107]:
l1[1] = 'Butter Scotch'

In [108]:
l1

[10, 'Butter Scotch', 20, 'Amul']

In [109]:
type(l1)

list

* Converting the list back to tuple

In [110]:
t2 = tuple(l1)

In [111]:
t2

(10, 'Butter Scotch', 20, 'Amul')

**Exercise**

In [1]:
## Exercise - There are two list [2,3,4] and [2,5,6] 
## -Get a combination (x,y) 
## x is the element from first list, 
## y is the element from second list - Get combinations (x,y) 
## such that x is not equal to y

x = [2,3,4]
y = [2,5,6]
output = [(a,b) for a in x for b in y if a!=b]
print(output)

[(2, 5), (2, 6), (3, 2), (3, 5), (3, 6), (4, 2), (4, 5), (4, 6)]

* **Sets in Python**
  - Sets contain unique elements  
  - Sets are unordered sequence of elements
  - They are represented using the {} (curly braces)

In [113]:
elements = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
elements

{'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'}

In [5]:
#### Sets can be constructed using the following set keyword and passing a list to it
eles = set(['Z','A','A','Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'])
eles

{'A', 'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya', 'Z'}

In [3]:
eles[0]

TypeError: 'set' object is not subscriptable

* Iteration over sets in python

In [115]:
elements

{'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'}

In [116]:
for x in elements:
    print(x)

Kiran
Suraj
Mahesh
Ravi
Surya

In [9]:
## The set elements are given below - We can represent the data as 
# els = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
els = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
len(els)

5

In [10]:
### Add the following element to the set elements 'Mitra' using add function
els.add('Mitra')

In [11]:
els

{'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}

In [7]:
## Lets create one more set els2 = els2 = {'kiran','Mahesh', 'Mitra'}
els2 = {'kiran','Mahesh', 'Mitra'}

* seta.difference(setb) - Difference gives the elements that are in sets

In [ ]:
{'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}
{'kiran','Mahesh', 'Mitra'}

In [11]:
els.difference(els2)

{'Kiran', 'Ravi', 'Suraj', 'Surya'}

In [12]:
els2.difference(els)

{'kiran'}

* difference_update() - Removes the elements from the other set

In [12]:
els.difference_update(els2)

In [13]:
els

{'Kiran', 'Ravi', 'Suraj', 'Surya'}

In [14]:
els2

{'Mahesh', 'Mitra', 'kiran'}

In [18]:
## Create the set and try to perform union on els and els2
els = {'Mahesh','Mahesh','Mitra','Suraj','Ravi','Kiran','Surya'}
len(els)

6

* union combines both the sets with unique elements

In [19]:
els.union(els2)

{'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya', 'kiran'}

* intersection provides the common elements between the sets

In [20]:
els.intersection(els2)

{'Mahesh', 'Mitra'}

In [21]:
print(els)
print(els2)

{'Ravi', 'Kiran', 'Mahesh', 'Suraj', 'Mitra', 'Surya'}
{'kiran', 'Mahesh', 'Mitra'}

* Symmetric difference gives the elements that are not common as one single set.

In [22]:
## els.symmetric_difference(els2) gives the common elements between both the sets.
els.symmetric_difference(els2)

{'Kiran', 'Ravi', 'Suraj', 'Surya', 'kiran'}

* Comprehension for set - Similar to for comprehension for List
    - return type is Set when set comprehension is perfromed
   - Writing the iteration of the set in a single line

In [13]:
listVal =  {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
uniEle = set()
for name in listVal:
    name = 'Mr ' + name
    uniEle.add(name)
print(uniEle)

{'Mr Mahesh', 'Mr Suraj', 'Mr Ravi', 'Mr Surya', 'Mr Kiran'}

In [14]:
listVal = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
uniEle = {'Mr ' + x for x in listVal}
uniEle

{'Mr Kiran', 'Mr Mahesh', 'Mr Ravi', 'Mr Suraj', 'Mr Surya'}

* list can be created using [] or list()
* tuple can be created using () or tuple()
* Dictionary can be created using {:} or dict()
* sets can be created using {} or set()

In [ ]:
a = 10
b = 20
word = 'Hello'

#### Why are we using data strcutures 
 - We want to store multiple values
 - List  : Ordered set of values and we want to iterate over the values
           Index based accessing
 - Set : Store only unique elements then we shall go for set or we do not want to allow duplicate elements
 - Tuple : We do not want to modify the values while storage and no modification of values 
 - Dictionary : We want identifiers for values or key/value pairs

* **Dictionary in Python** - Dictionaries in Python are basically key,value pairs. 
    - In a dictionary, key can be any unique object
    - Keys are unique and non-duplicated
    - Values can be duplicated
    - Dictionaries can be constructed using the dict() or {:}

* Create Dictionary using the dict() keyword

In [16]:
idName = dict()
idName[101] = 'Suraj'
idName[102] = 'Mahesh'
idName[103] = 'Surya'
idName[104] = 'Ravi'
idName[105] = 'Kiran'
idName[106] = 'Mitra'
idName[107] = 'Mahesh B'
print(idName)

{101: 'Suraj', 102: 'Mahesh', 103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra', 107: 'Mahesh B'}

In [17]:
### Another way of creating the dictionary is the following
idName = {101: 'Suraj',102: 'Mahesh',103: 'Surya', 
          104: 'Ravi', 105: 'Kiran', 106: 'Mitra',
          109:'Akhilesh'}
print(idName)

{101: 'Suraj', 102: 'Mahesh', 103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra', 109: 'Akhilesh'}

* Retrieve the value in the dictionary using key

In [32]:
### The dictionary name and the id can be passed to get the value - idName[101]
### dictionaryName[keyValue]
idName[101]

'Suraj'

* Check if the key is in the dictionary

In [33]:
### Check if a particular key is available in the dictionary - 101 in idName
101 in idName

True

In [18]:
### CHeck if a particular key is not available in the dictionary - 109 not in idName
print(109 not in idName)
print(110 in idName)

False
False

* iterate over the dictionary using keys()

In [36]:
idName.keys()

dict_keys([101, 102, 103, 104, 105, 106, 109])

In [35]:
### We can iterate over the dictionary using the keys() function on the dictionary.
for k in idName.keys():
    print(f'Key is {k}')

Key is 101
Key is 102
Key is 103
Key is 104
Key is 105
Key is 106
Key is 109

* Values for the dictionary using values()

In [139]:
for v in idName.values():
    print(f'value is {v}')

value is Suraj
value is Mahesh
value is Surya
value is Ravi
value is Kiran
value is Mitra

* iterate over a dictionary using items()

In [22]:
for key,value in idName.items():
    print(f'Id is {key}, Name is {value}')
    print('Id is {} , Name is {}'.format(key,value))

Id is 101, Name is Suraj
101 Suraj
Id is 102, Name is Mahesh
102 Mahesh
Id is 103, Name is Surya
103 Surya
Id is 104, Name is Ravi
104 Ravi
Id is 105, Name is Kiran
105 Kiran
Id is 106, Name is Mitra
106 Mitra
Id is 109, Name is Akhilesh
109 Akhilesh

* Iterate over a dictionary using the dictionary object

In [141]:
### Using the dictionary object only the dictionary is used
for keyVal in idName:
    print(keyVal)

101
102
103
104
105
106

* Delete a key in the dictionary using the del keyword

In [142]:
## Delete the key value pair using the idName[key]
del idName[101]

In [143]:
idName

{102: 'Mahesh', 103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'}

* To get a value from the dictionar using the get() function or the []

In [144]:
idName[102]

'Mahesh'

In [145]:
idName.get(102)

'Mahesh'

* If the key is not in the dictionary using the get() method we can use the default value

In [37]:
### Lets say we dont have the key/value pair in the dictionary it returns a key erro
idName[110]

KeyError: 110

In [147]:
# If the key is available then it returns the value
idName.get(102,"Value is Not there")

'Mahesh'

In [39]:
idName.get(110,"Key/Value is Not there")

'Key/Value is Not there'

In [149]:
### To get the keys in the reversed order we can use reversed on the dictionary

In [40]:
for i in reversed(idName):
    print(i)

109
106
105
104
103
102
101

In [151]:
## Collecting the dictionary keys as list - list(idName)
list(idName)

[102, 103, 104, 105, 106]

* To remove one key,value pair from the dictionary - using popitem()

In [41]:
## idName.popitem() will remove one key value pair from the dictionary
idName.popitem()

(109, 'Akhilesh')

* To remove one key at a time from the dictionary - using pop()

In [42]:
### ## idName.pop(key) will pop one key value pair for the given key from the dictionary
idName.pop(104)

'Ravi'

In [44]:
### If the key is not available in the dictionary, pop() shall given an error on the dictionary
idName.pop(105)

KeyError: 105

In [43]:
### If the key is not available in the dictionary, 
## pop() shall given an error on the dictionary

'Kiran'

* length of the dictionary - len() function

In [156]:
# To get the length of the dictionary
len(idName)

2

* Lets say we want to get the key,value pairs using the dictionary using dictionary comprehension

In [157]:
### Dictionary comprehension can be perfromed using the following: 
idName = {101: 'Suraj',102: 'Mahesh',103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'}
# get only the even ids
evenIdName = {k:v for (k,v) in idName.items() if k%2 ==0 }
evenIdName

{102: 'Mahesh', 104: 'Ravi', 106: 'Mitra'}

In [158]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '<img src="truthTable.JPG">',
  '* Bitwise Operators\n- Bitwise AND (&) Operator',
  'print(bin(3))\nprint(bin(5)) # 011 & 101 --> 1',
  '3&5',
  'print(3|5)',
  '# 0011 | 0101 -> 0111',
  '# 1011 ^ 1100 -> 0111 (11^12 -> 7)\nprint(11^12)',
  'l4 = list(range(15))\nl4[:]',
  'l4[0:5]',
  '* Slice the l4 list object using the indices from 0 to 5',
  'l4[0:5]',
  'l4[::-1]',
  'l4[::-2]',
  'l4[::-1]',
  'l4[::-2]',
  'slicList = list(range(15))\nslicList[:]',
  'slicList[0:5]',
  'slicList[::-1]',
  'slicList[::-2]',
  '* Can also add step size for the listm',
  'slicList[1:7:2]',
  'slicList[1:7:2]',
  "listStr = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']\nlistStr[:]",
  "names = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']\nnames[:]",
  'names[1:3]',
  'names[1:3]',
  'names[1:5]',
  'names[::-1]',
  'names.pop()',
  'names',
  "## As we see in the list below once 'girish' is popped, there is no element at the end.\nnames",
  "## As we see in the list below once 'girish' is popped, there is no 'girish' element at the end.\nnames",
  'len(names)',
  "names.remove('Freddy')",
  '## Check the names function and we see that Freddy is no longer available in the names list\nnames',
  "names.append('Farhan')\nnames.append('Farhan')",
  'names',
  "## As we see there are two values with the name 'Farhan'\nnames",
  "names.remove('Farhan')\nnames",
  "names.extend(['Giridhar','Hema','Jishnu'])",
  'names',
  '## Display the elements with the latest names added to the list\nnames',
  'names.reverse()',
  'names # The list has been reversed and stores the values in the list in reverse order',
  'names.clear()',
  'names',
  'names ## In the above cell , clear() was used to clear the list and now we have no values in the list',
  "for friend in names:\n    print(friend, end = ',')",
  "for friend in names:\n    print(friend, end =',')",
  '### Lets us add the friends to the names list',
  "names = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']",
  "for friend in names:\n    print(friend, end =',')",
  "for friend in names:\n    print(friend, end =',') ## We can print the value as show in this",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(names))\n        break",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or  addName == 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or addName == 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(names))\n        break\n    else:\n        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')\n        break",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or  addName == 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or addName == 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(names))\n        break\n    else:\n        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')\n        break",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or  addName == 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or addName == 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(frNames))\n        break\n    else:\n        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')\n        break",
  'frNames.sort()',
  'frNames',
  'frNames',
  "timings = ['1:30','2:30','3:30','4:30','5:30','6:30','7:30']\ntimings",
  "frNames.index('Chandra')",
  "## Lets build a list using 10,11,12,13,14,15,16 - The sum of all the elements in the list can be computed\n### in two ways  - sum(intList) or using for loops\nintList = [10,11,12,13,14,15,16]\nprint('Sum of the list of elements',sum(intList))\nprint(intList)",
  'intList = 10,11,12,13,14,15,16\nslist = 0\nfor i in intList:\n    slist += i\nprint(slist) ',
  '## Based on the range object lets find the square of each number\ny = [x**2 for x in range(5)]',
  'y',
  '## We can also include condition within the for comrephension\ny = [x**2 for x in range(10) if x%2 == 0 ]\nprint(y)',
  "### return if only list contains letters starting with s\nnames = ['sunday','super','semi-conductor','non-conductor','mango','apple']\ny = [x for x in names if x.startswith('s')]",
  'y',
  "tup1 = (25,'Mango','Rajesh',40,25,24,25)\ntup1[1]",
  'tup1[3]',
  '### Tuples can be iterated over using for loop \nfor x in tup1:\n    print(x)',
  '## Assigning a value to tuple shows error - tuple object does not support assignment\ntup1[0] = 35',
  '## Count function gives the count of the element in the tuple\ntup1.count(25)',
  'tup1[-1]',
  'tup1[-1]',
  '* len() function on the tuple. when applied on tuple gives the length of the tuple',
  'len(tup1)',
  'tup1[len(tup1) - 1]',
  "names = (['Rajesh','Mukesh'],['Sangeeta','Rithika'])",
  "names[0] = ['Abhishek','Brijesh']",
  "# This kind of direct assignment to the tuple is not possible ,\n# where we are assigning the list elements directly to the tuples first value\nnames[0] = ['Abhishek','Brijesh']",
  '* To access list inside tuple we shall use two indices like the ones used in matrices',
  'names[0]',
  'names[1]',
  "names[0][0] = 'Abhishek Bachan'",
  "## We access the inside elements using the syntax below\nnames[0][0] = 'Abhishek Bachan'",
  'names',
  "names[0][1] = 'Mukesh Khanna'",
  'names',
  'a,b = 10,20',
  'val1 = a,b,a+b',
  'val1',
  "def studentDetails():\n    name = 'Ajay'\n    subject = 'Python'\n    course = 'BBA'\n    return name,subject, course",
  'details = studentDetails()',
  'details',
  'a,b ,c = (10,20,30)',
  "print('Values are {} , {} , {}'.format(a,b,c))",
  "t1 = (10,'Chocolate',20,'Amul')",
  't1',
  'type(t1)',
  'len(t1)',
  'type(t1),len(t1)',
  't1',
  'l1 = list(t1)',
  'l1',
  "l1[1] = 'Butter Scotch'",
  'l1',
  'type(l1)',
  't2 = tuple(l1)',
  't2',
  '* **Sets in Python**\n  - Sets contain unique elements  \n  - Sets are unordered sequence of elements\n  - They are represented using the {} (curly braces)',
  "elements = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}\nelements",
  "#### Sets can be constructed using the following set keyword and passing a list to it\neles = set(['Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'])\neles",
  'elements',
  'for x in elements:\n    print(x)',
  "## The set elements are given below - We can represent the data as els = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}\nels = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}\nlen(els)",
  "### Add the following element to the set elements 'Mitra' using add function\nels.add('Mitra')",
  'els',
  "## Lets create one more set els2 = els2 = {'kiran','Mahesh', 'Mitra'}\nels2 = {'kiran','Mahesh', 'Mitra'}",
  'els.difference(els2)',
  '* difference_update() - Removes the elements from the other set',
  'els.difference_update(els2)',
  'els',
  'els2',
  "## Create the set and try to perform union on els and els2\nels = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}\nlen(els)",
  'els.union(els2)',
  'els.intersection(els2)',
  'print(els)\nprint(els2)',
  '## els.symmetric_difference(els2) gives the common elements between both the sets.\nels.symmetric_difference(els2)',
  "listVal = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}\nuniEle = {x for x in listVal}\nuniEle",
  "idName = dict()\nidName[101] = 'Suraj'\nidName[102] = 'Mahesh'\nidName[103] = 'Surya'\nidName[104] = 'Ravi'\nidName[105] = 'Kiran'\nidName[106] = 'Mitra'\nidName",
  "### Another way of creating the dictionary is the following\nidName = {101: 'Suraj',102: 'Mahesh',103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'}\nidName",
  '### The dictionary name and the id can be passed to get the value - idName[101]\nidName{101}',
  '### The dictionary name and the id can be passed to get the value - idName[101]\nidName[101]',
  '### Check if a particular key is available in the dictionary - 101 in idName\n101 in idName',
  '### CHeck if a particular key is not available in the dictionary - 109 not in idName\nprint(109 not in idName)\nprint(110 in idName)',
  "### We can iterate over the dictionary using the keys() function on the dictionary.\nfor k in idName.keys():\n    print(f'Key is {k}')",
  "for v in idName.values():\n    print(f'value is {v}')",
  "for key,value in idName.items():\n    print(f'Id is {key}, Name is {value}')",
  '### Using the dictionary object only the dictionary is used\nfor keyVal in idName:\n    print(keyVal)',
  '## Delete the key value pair using the idName[key]\ndel idName[101]',
  'idName',
  'idName[102]',
  'idName.get(102)',
  '### Lets say we dont have the key/value pair in the dictionary it returns a key erro\nidName[109]',
  '# If the key is available then it returns the value\nidName.get(102,"Value is Not there")',
  'idName.get(109,"Key/Value is Not there")',
  '### To get the keys in the reversed order we can use reversed on the dictionary',
  'for i in reversed(idName):\n    print(i)',
  '## Collecting the dictionary keys as list - list(idName)\nlist(idName)',
  '## idName.popitem() will remove one key value pair from the dictionary\nidName.popitem()',
  '### ## idName.pop(key) will pop one key value pair for the given key from the dictionary\nidName.pop(104)',
  '### If the key is not available in the dictionary, pop() shall given an error on the dictionary\nidName.pop(105)',
  '### If the key is not available in the dictionary, pop() shall given an error on the dictionary\nidName.pop(105)',
  '# To get the length of the dictionary\nlen(idName)',
  "### Dictionary comprehension can be perfromed using the following: \nidName = idName = {101: 'Suraj',102: 'Mahesh',103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'}\n\n# get only the even ids\n\nevenIdName = {k:v for (k,v) in idName.items() if k%2 ==0 }\nevenIdName",
  'globals()'],
 '_oh': {4: 1,
  8: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
  9: [0, 1, 2, 3, 4],
  11: [0, 1, 2, 3, 4],
  12: [14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
  13: [14, 12, 10, 8, 6, 4, 2, 0],
  14: [14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
  15: [14, 12, 10, 8, 6, 4, 2, 0],
  16: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
  17: [0, 1, 2, 3, 4],
  18: [14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
  19: [14, 12, 10, 8, 6, 4, 2, 0],
  21: [1, 3, 5],
  22: [1, 3, 5],
  23: ['Abhilash',
   'Bharat',
   'Chandra',
   'Dinesh',
   'Elangovan',
   'Freddy',
   'Girish'],
  24: ['Abhilash',
   'Bharat',
   'Chandra',
   'Dinesh',
   'Elangovan',
   'Freddy',
   'Girish'],
  25: ['Bharat', 'Chandra'],
  26: ['Bharat', 'Chandra'],
  27: ['Bharat', 'Chandra', 'Dinesh', 'Elangovan'],
  28: ['Girish',
   'Freddy',
   'Elangovan',
   'Dinesh',
   'Chandra',
   'Bharat',
   'Abhilash'],
  29: 'Girish',
  30: [],
  31: [],
  32: [],
  33: 6,
  35: [],
  37: [],
  38: [],
  39: [],
  41: [],
  42: [],
  44: [],
  46: [],
  47: [],
  59: ['Bindu', 'Chandra', 'abhishek'],
  60: ['Bindu', 'Chandra', 'abhishek'],
  61: ['1:30', '2:30', '3:30', '4:30', '5:30', '6:30', '7:30'],
  62: 1,
  66: [0, 1, 4, 9, 16],
  69: ['sunday', 'super', 'semi-conductor'],
  70: 'Mango',
  71: 40,
  74: 3,
  75: 25,
  76: 25,
  78: 7,
  79: 25,
  84: ['Abhishek Bachan', 'Mukesh Khanna'],
  85: ['Sangeeta', 'Rithika'],
  88: (['Abhishek Bachan', 'Mukesh Khanna'], ['Sangeeta', 'Rithika']),
  90: (['Abhishek Bachan', 'Mukesh Khanna'], ['Sangeeta', 'Rithika']),
  93: (10, 20, 30),
  96: ('Ajay', 'Python', 'BBA'),
  100: (10, 'Chocolate', 20, 'Amul'),
  101: tuple,
  102: 4,
  103: (tuple, 4),
  104: (10, 'Chocolate', 20, 'Amul'),
  106: [10, 'Butter Scotch', 20, 'Amul'],
  108: [10, 'Butter Scotch', 20, 'Amul'],
  109: list,
  111: (10, 'Butter Scotch', 20, 'Amul'),
  113: {'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'},
  114: {'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'},
  115: {'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'},
  117: 5,
  119: {'Kiran', 'Ravi', 'Suraj', 'Surya'},
  121: {'Kiran', 'Ravi', 'Suraj', 'Surya'},
  124: {'Kiran', 'Ravi', 'Suraj', 'Surya'},
  125: {'Mahesh', 'Mitra', 'kiran'},
  126: 5,
  127: {'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya', 'kiran'},
  128: {'Mahesh'},
  130: {'Kiran', 'Mitra', 'Ravi', 'Suraj', 'Surya', 'kiran'},
  131: {'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'},
  132: {101: 'Suraj',
   102: 'Mahesh',
   103: 'Surya',
   104: 'Ravi',
   105: 'Kiran',
   106: 'Mitra'},
  133: {102: 'Mahesh', 103: 'Surya'},
  135: 'Suraj',
  136: True,
  143: {102: 'Mahesh', 103: 'Surya'},
  144: 'Mahesh',
  145: 'Mahesh',
  147: 'Mahesh',
  148: 'Key/Value is Not there',
  151: [102, 103, 104, 105, 106],
  152: (106, 'Mitra'),
  153: 'Ravi',
  154: 'Kiran',
  156: 2,
  157: {102: 'Mahesh', 104: 'Ravi', 106: 'Mitra'}},
 '_dh': [WindowsPath('C:/Users/Jayanth/Python_DataAnalysis/SivaSivani')],
 'In': ['',
  '<img src="truthTable.JPG">',
  '* Bitwise Operators\n- Bitwise AND (&) Operator',
  'print(bin(3))\nprint(bin(5)) # 011 & 101 --> 1',
  '3&5',
  'print(3|5)',
  '# 0011 | 0101 -> 0111',
  '# 1011 ^ 1100 -> 0111 (11^12 -> 7)\nprint(11^12)',
  'l4 = list(range(15))\nl4[:]',
  'l4[0:5]',
  '* Slice the l4 list object using the indices from 0 to 5',
  'l4[0:5]',
  'l4[::-1]',
  'l4[::-2]',
  'l4[::-1]',
  'l4[::-2]',
  'slicList = list(range(15))\nslicList[:]',
  'slicList[0:5]',
  'slicList[::-1]',
  'slicList[::-2]',
  '* Can also add step size for the listm',
  'slicList[1:7:2]',
  'slicList[1:7:2]',
  "listStr = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']\nlistStr[:]",
  "names = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']\nnames[:]",
  'names[1:3]',
  'names[1:3]',
  'names[1:5]',
  'names[::-1]',
  'names.pop()',
  'names',
  "## As we see in the list below once 'girish' is popped, there is no element at the end.\nnames",
  "## As we see in the list below once 'girish' is popped, there is no 'girish' element at the end.\nnames",
  'len(names)',
  "names.remove('Freddy')",
  '## Check the names function and we see that Freddy is no longer available in the names list\nnames',
  "names.append('Farhan')\nnames.append('Farhan')",
  'names',
  "## As we see there are two values with the name 'Farhan'\nnames",
  "names.remove('Farhan')\nnames",
  "names.extend(['Giridhar','Hema','Jishnu'])",
  'names',
  '## Display the elements with the latest names added to the list\nnames',
  'names.reverse()',
  'names # The list has been reversed and stores the values in the list in reverse order',
  'names.clear()',
  'names',
  'names ## In the above cell , clear() was used to clear the list and now we have no values in the list',
  "for friend in names:\n    print(friend, end = ',')",
  "for friend in names:\n    print(friend, end =',')",
  '### Lets us add the friends to the names list',
  "names = ['Abhilash','Bharat','Chandra','Dinesh','Elangovan','Freddy','Girish']",
  "for friend in names:\n    print(friend, end =',')",
  "for friend in names:\n    print(friend, end =',') ## We can print the value as show in this",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(names))\n        break",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or  addName == 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or addName == 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(names))\n        break\n    else:\n        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')\n        break",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or  addName == 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or addName == 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(names))\n        break\n    else:\n        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')\n        break",
  "frNames= [] \nwhile True: \n    addName = input(' Would you like to add a name ? Type yes/y or no/n : ')\n    addName = addName.lower()\n    if addName == 'yes' or  addName == 'y' :\n        name = input('Enter the name of the friend :  ')\n        frNames.append(name)\n    elif addName == 'no' or addName == 'n':\n        print('No more names are added -- Good bye !!')\n        print('The friends list are {}'.format(frNames))\n        break\n    else:\n        print('Wrong Input -- Can accept only yes/y or no/n .. Exiting....')\n        break",
  'frNames.sort()',
  'frNames',
  'frNames',
  "timings = ['1:30','2:30','3:30','4:30','5:30','6:30','7:30']\ntimings",
  "frNames.index('Chandra')",
  "## Lets build a list using 10,11,12,13,14,15,16 - The sum of all the elements in the list can be computed\n### in two ways  - sum(intList) or using for loops\nintList = [10,11,12,13,14,15,16]\nprint('Sum of the list of elements',sum(intList))\nprint(intList)",
  'intList = 10,11,12,13,14,15,16\nslist = 0\nfor i in intList:\n    slist += i\nprint(slist) ',
  '## Based on the range object lets find the square of each number\ny = [x**2 for x in range(5)]',
  'y',
  '## We can also include condition within the for comrephension\ny = [x**2 for x in range(10) if x%2 == 0 ]\nprint(y)',
  "### return if only list contains letters starting with s\nnames = ['sunday','super','semi-conductor','non-conductor','mango','apple']\ny = [x for x in names if x.startswith('s')]",
  'y',
  "tup1 = (25,'Mango','Rajesh',40,25,24,25)\ntup1[1]",
  'tup1[3]',
  '### Tuples can be iterated over using for loop \nfor x in tup1:\n    print(x)',
  '## Assigning a value to tuple shows error - tuple object does not support assignment\ntup1[0] = 35',
  '## Count function gives the count of the element in the tuple\ntup1.count(25)',
  'tup1[-1]',
  'tup1[-1]',
  '* len() function on the tuple. when applied on tuple gives the length of the tuple',
  'len(tup1)',
  'tup1[len(tup1) - 1]',
  "names = (['Rajesh','Mukesh'],['Sangeeta','Rithika'])",
  "names[0] = ['Abhishek','Brijesh']",