### Operators in Python

* Bitwise Operators
* Membership Operators
* Identity Operators

<img src="truthTable.JPG">

* Bitwise Operators
- Bitwise AND (&) Operator

In [3]:
print(bin(3))
print(bin(5)) # 011 & 101 --> 001

#011
#101
-----
#001

0b11
0b101

In [1]:
print(3&5)

1

In [1]:
2&4

0

In [4]:
3&5

1

- Bitwise OR (|) Operator

In [6]:
# 0011 | 0101 -> 0111
# 011
# 101
#-----
# 111

In [5]:
print(3|5)

7

* Bitwise XOR (^) Operator

In [7]:
# 1011 ^ 1100 -> 0111 (11^12 -> 7)

# 1011
# 1100
#------
# 0111
print(11^12)

7

* Bitwise << left shift operator - The left shift operator shifts the left bits operand towards left.
- 1100 << 2 means that the two zeros are appended at the right side. 110000 is the output

In [2]:
1100 << 2 ## 1100 -> 110000

4400


* Other in-built functions
* Capture input from the command line
* Operators and Operands in Python

* divmod() function returns a pair of numbers consisting of quotient and remainder

In [2]:
### We pass two numbers to divmod - 5,3 : div(5,3) - 
# It returns the quotient of the division between two numbers
# and remainder of the division
print(divmod(5,3) )
print(divmod(12,4))

(1, 2)
(3, 0)

* ord() function return point value representation of a character

In [2]:
#### Finding the unicode point value of a character 'H' 
### - pass 'H' to the ord() function
ord('H')

72

In [3]:
#### Finding the unicode point value of a character 'a' 
#### - pass 'a' to the ord() function
ord('a')

97

In [4]:
#### Finding unicode point value of a character 'A' 
#### - pass 'A' to the ord() function
ord('A')

65

In [22]:
### Finding unicode point value of a character '\n'- pass '\n' to 
## the ord() function
ord('\n')

10

* chr() function is the inverse of ord() - It gives the value of the give integer

In [21]:
### chr function that takes input as 10 would return the output as '\n'
chr(10)

'\n'

In [25]:
### chr function that takes input as 97 would return the output as 'a'
chr(97)

'a'

In [26]:
### chr function that takes input as 97 would return the output as 'A'
chr(65)

'A'

In [1]:
### chr function that takes input as 8641 would return the output as %'
chr(8541)

'â…'

* id() function gives the Cpython address location of the object

In [12]:
### We want to get the address of a python object 
## id() function provides the address of that variable
x = 10
id(x)

1455356117520

In [13]:
#### finding the memory location address of a floating 
## value passed to id function
y = 20.5
id(y)

1455436509232

* bin() function - This will provide the binary value of the given input

In [28]:
### pass value 10 to the bin() function and 
## it returns binary representation of the passed value
## The binary representation is prefixed with 0b
bin(10)

'0b1010'

In [29]:
### pass value -10 to the bin() function and it returns 
### binary representation of the passed value
##  The binary representation is prefixed with -0b
bin(-10)

'-0b1010'

* hex() function - Converts the number from string to hexadecimal representation

In [31]:
### pass value 10 to the hex() function and 
### it returns the hexadecimal representation of the passed value
### output would 0xa
hex(10)

'0xa'

In [9]:
### pass value 8 to the hex() function and 
## it returns the hexadecimal representation of the passed value
## output would 0x8
hex(23)

'0x17'

In [33]:
### pass value 17 to the hex() function 
### and it returns the hexadecimal representation of the passed value
### output would 0x8
hex(17)

'0x11'

* oct function - Coverts the number from String representation to octal representation

In [35]:
### pass value 10 to the oct() function and 
### it returns the octal representation of the passed value
### output would 0o12 - Prefix is 0o
oct(10)

'0o12'

In [1]:
### pass value 15 to the oct() function and 
### it returns the octal representation of the passed value
### output would 0o17 - Prefix is 0o
oct(15)

'0o17'

In [2]:
### pass value 13 to the oct() function 
### and it returns the octal representation of the passed value
### output would 0o15 - Prefix is 0o
oct(13)

'0o15'

* int() function - Integer values with other bases

In [14]:
### default base value of an integer
int(10)

10

In [16]:
### Passing a string value '10' for base 2
int('10',base=2)

2

In [17]:
### Passing a string value '10001' for base 2 - 
### That is the representation is 10001 in base 2
### This number is converted to base 10.
int('10001',base=2)

17

In [8]:
### Passing a string value '0xa' for base 6 - 
### that is the representation is 0xa in base 16
### The number is 10 in base 10 
int('0xa',base=16)

10

In [5]:
### Covnverts the number from base 8 to base 10
int('0o15', base=8)

13

In [10]:
### converts the number from base 16 to base 10 - 
### that is the representation is 0x17 in base 16
### The number is 23 in base 10
int('0x17',base=16)

23

* abs() function returns the absolute value. Indicating that it returns the positive value

In [11]:
### pass 10.2 value to abs function - 
### it generated the absolute value of the argument
abs(-10)

10

In [12]:
### pass 20.5 value to abs function - 
### it generated the absolute value of the argument
abs(-20.5)

20.5

* pow() function returns the number for this formula - base** exponent

* base of the number and the exponent it is raised to

In [3]:
### pass 2 as the base followed by 3 as the exponent - 2**3 - pow(2,3)
pow(2,3)

8

In [4]:
### pass 3 as the base followed by 2 as the exponent - 3**2 - pow(3,2)
pow(3,2)

9

* min() function returns the minimum of two or more values

In [12]:
### Pass the values as -5, 10, 30 to 
### the minimuum function and check the output - min(-5,10.30)
min(-5,10,30)

-5

In [13]:
### Pass the value as 1,2,3 to the 
### minimum function and check the output - min(1,2,3)
min(1,2,3)

1

In [14]:
### If we pass only one value in 
### the minimum function - then we get an error
min(1)

TypeError: 'int' object is not iterable

* max() function returns the maximum of two or more values

In [15]:
### Pass the values as -5, 10, 30 to the maximum function 
### and check the output - max(-5,10.30)
max(-5,10,30)

30

In [16]:
### Pass the value as 1,2,3 to the maximum function 
### and check the output - max(1,2,3)
max(1,2,3)

3

* len() function gives us the length of the given string - We cannot pass integer or floating point valie

In [5]:
### Let us pass string values to the len() function to 
### check its length - 'Python' returns length of 6
len('Python')

6

In [6]:
### Let us pass string value to len() 
### function to check its length - 'Hello World!' return the length of 12
len('Hello World!')

12

* repr() function gives back the printable representation of the object

In [11]:
### Pass 'monday' as input to repr. 
### repr('Monday') -- The resultant output is 'Monday'
repr('Monday')

"'Monday'"

In [9]:
### Pass repr('monday') as input to print. 
### print(repr('Monday')) -- The resultant output is 'Monday'
print(repr('Monday'))

'Monday'

#### String Operations
*  Text sequences - String 
*  String are sequences of text. String sequences are immutable.

In [16]:
### We import the string module and use ascii_letters on string. 
### The output is english alphabets in lower case 
### and upper case.
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [17]:
### The ascii_lowercase shall return 
### the lower case letters on string. The output is english 
### alphabets in lower case
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [18]:
#### the ascii_upppercase shall return 
#### the upper case letters as string. the output is english alphabets in 
#### upper case
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [19]:
#### The digits shall return the digits as string. 
### The ouput is '0123456789'
string.digits

'0123456789'

In [20]:
#### The digits shall return hexadecimal digits as string . 
### The output is '0123456789abcdefABCDEF'
string.hexdigits

'0123456789abcdefABCDEF'

In [21]:
#### The digits shall return octal digits as string. 
### The output is '01234567'
string.octdigits

'01234567'

In [22]:
#### The digits shall return punctutation marks as string. 
### The output is '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

* The Stirng value can be stored in
   three ways
    * In single quotes
    * In double quotes
    * In triple quotes

In [2]:
### Textutal data can be put in single quotes. 
### for example text_s_quote = 'Tuticorn has two words tuti and corn'
text_s_quote = 'Tuticorn has two words tuti and corn'
text_s_quote

'Tuticorn has two words tuti and corn'

In [4]:
#### Textual data can be put in double quotes. 
### For Example text_d_Quote = "Tuticorn has two words tuti and corn"
text_d_Quote = "Tuticorn has two words  tuti and corn"
text_d_Quote

'Tuticorn has two words  tuti and corn'

In [8]:
#### Textual data can be put in triple quotes 
#### It can be multiple line also. 
#### For exampe text_tr_Quote = """ Tuticorn has two words tuti and corn """
text_tr_Quote = """Tuticorn has 
two words 
- tuti and corn"""
text_tr_Quote

'Tuticorn has \ntwo words \n- tuti and corn'

* Comprision Operators
    * Less than(<)
    * greater than (>)
    * less than or equal to (<=)
    * equal to (==)
    * greater than or equal to (>=)
    * Not equal to (!=)

In [110]:
5 < 3

False

In [111]:
9 > 4

True

In [112]:
10 >= 10

True

In [113]:
11 >= 15

False

In [114]:
13 <= 14

True

In [115]:
12 == 14

False

In [116]:
15 == 16

False

In [117]:
12 == 12

True

In [118]:
23 != 24

True

In [119]:
23 != 23

False

* Boolean Operators
    * and
    * or
    * not

In [9]:
### Perform the operation as below for 'and' 
### operator- Check  (x > y) and (y > z) for output
x = 5
y = 2
z = 3
(x>y) and (y>z)

False

In [10]:
#### Perform the operation as below for 'or' operator- 
### Check  (x > y) or (y > z) for output
x > y or z > y

True

In [11]:
#### Perform the operation as below for not operator - Check x != y
print(x!=y)

True

* Bitwise Operators

In [128]:
#### Bitwise opearators AND 
####  (0&1 gives 0, 1&0 give 0, 1&1 give 1,0&0 gives 0)
print(0&1)

0

In [127]:
print(0&0)

0

In [11]:
print(1^1) # <- XOR
print(1|1) # <- OR Symbol

0
1

In [130]:
print(1&0)

0