### Introduction to Python

### In this notebook we shall learn about how to print statements to output and work with the examples.
* Print Statements
* Variables
* Different Data-Types
* String Formatting

#### Printing output - We shall use a string (sequence of words) to print the sentence to the output
* We have an input cell and output cell in the notebook. 
* Passing a value to the print() function shall be used to print the output to the screen
* In python, the sentences are stored in either ' quotes or " quotes
* We can use them to print the values in the following way

In [2]:
print('Hello World')

Hello World

In [3]:
print("Hello World")

Hello World

We have seen how the output is print using the print in-built function
Now , we shall start with the basic values (Numeric/String)  in python
* The numeric values that can be used in python are of three types
    * Integer 
    * Float 
    * Complex Type

* Integer type

In [4]:
22

22

* Floting type

In [5]:
22.32

22.32

* Complex Type

In [6]:
3+4j

(3+4j)

#### Let us perform  some basic operations on the numbers
* Addition
* Subtraction
* Multiplication
* Division
* exponent

In [8]:
## Addition
3+4

7

In [9]:
## Subtraction
8-5

3

In [10]:
### Multiplication
3*5

15

In [11]:
### Division
5/3

1.6666666666666667

In [16]:
### Division with two front slashes provides the output as below - 
### it rounds off to the nearest integer.
5//3

1

In [17]:
12/2

6.0

In [18]:
12//2

6

In [22]:
## Exponent
2**3

8

In [23]:
## Exponent
4**2

16

#### Lets look at how to represent the string data type in Python
#### When we say string - It is sequence of characters. 
* String are generally enclosed in single quotes or double quotes.

In [28]:
### Use quotes to represent the data
'Hello World'

'Hello World'

In [29]:
### Print 'Hello World!' to console
print('Hello World!')

Hello World!

In [25]:
"Hello World!"

'Hello World!'

In [30]:
### Print "Hello World!" to console
print("Hello World!")

Hello World!

In [26]:
### Represent 'This is python' in single quotes
'This is python '

'This is python '

In [31]:
#### Print 'This is python ' in single quotes and pass it to the print function
print('This is python ')

This is python

In [27]:
#### Represent "This is Python " in double quotes
"This is Python"

'This is Python'

In [32]:
### Print "This is Python" in double quotes and pass it to the print function
print("This is Python")

This is Python

#### How to know which data type each value represents
* Use the type function

In [33]:
type(20)

int

In [34]:
type(3.14)

float

In [35]:
type('Hello')

str

In [36]:
type(3+3j)

complex

#### How to store values in Python - Use Variables
* Use of variables in python
* Python is a dynamically typed programming language
  * Dynamically Typed programming language is one where reassigment of values for different datatypes is possible

In [37]:
# Below x is a variable and it is being assigned a integer value of 10
x = 10

In [38]:
x

10

In [42]:
## check the type of x - It is of type integer.
type(x)

int

In [40]:
## Y is a variable and it is being assigned a float value of 20
y = 20.33

In [41]:
y

20.33

In [43]:
### Check the type of y - It is of type float
type(y)

float

In [45]:
### z is a variable and it is being assigned a complex numebr of 3+2j
z = 3 + 2j
z

(3+2j)

In [47]:
### Check the type of z it is of complex type.
type(z)

complex

In [50]:
### A comlpex number has two parts - real part and imaginary part
### real part is got from z.real
z.real

3.0

In [51]:
### A complex number has two parts   - real part and imaginary part
### imaginary part is got from z.imag
z.imag

2.0