### Python Lesson 2

#### In this notebook we shall cover the following aspects
* Other in-built functions
* Capture input from the command line
* Operators and Operands in Python

* divmod() function returns a pair of numbers consisting of quotient and remainder

In [1]:
### We pass two numbers to divmod - 5,3 : div(5,3) - It returns the quotient of the division between two numbers and remainder of the division
divmod(5,3)

(1, 2)

* ord() function return point value representation of a character

In [2]:
#### Finding the unicode point value of a character 'H' - pass 'H' to the ord() function
ord('H')

72

In [3]:
#### Finding the unicode point value of a character 'a' - pass 'a' to the ord() function
ord('a')

97

In [4]:
#### Finding unicode point value of a character 'A' - pass 'A' to the ord() function
ord('A')

65

In [5]:
### Finding unicode point value of a character '\n'- pass '\n' to the ord() function
ord('\n')

10

* chr() function is the inverse of ord() - It gives the value of the give integer

In [6]:
### chr function that takes input as 10 would return the output as '\n'
chr(10)

'\n'

In [7]:
### chr function that takes input as 97 would return the output as 'a'
chr(97)

'a'

In [8]:
### chr function that takes input as 97 would return the output as 'A'
chr(65)

'A'

In [10]:
### chr function that takes input as 8641 would return the output as %'
chr(8541)

'⅝'

Cpython () , JPython (Java) and IronPython (.Net)

* id() function gives the Cpython address location of the object

In [11]:
### We want to get the address of a python object - id() function provides the address of that variable
x = 10
id(x)

2740077724176

In [14]:
type(x)

int

In [15]:
type(y)

float

In [17]:
#### finding the memory location address of a floating value passed to id function
y = 20.5
id(y)
z= y
print(id(y))
print(id(z))
y = "Hello"
print(y)
print(id(y))

2740157415120
2740157415120
Hello
2740162171376

Python is a Dynamically Typed Programming Language

* bin() function - This will provide the binary value of the given input

In [18]:
### pass value 10 to the bin() function and it returns binary representation of the passed value
## The binary representation is prefixed with 0b

## binary - 0 and 1 --> 2^0 * firstvalue + 2^1 * second value + 
bin(10) # (base 10 - 0 and 9 ) (10^0 *unit + 10^1 * tens + 10^2 * hundreds--->)

'0b1010'

In [ ]:
1     0   1   0
2^3   2^2 2^1  2^0
    -> 1*0 + 2*1 + 4*0 + 8*1 = 0 + 2 + 0 + 8 = 10

In [19]:
### pass value -10 to the bin() function and it returns binary representation of the passed value
## The binary representation is prefixed with -0b
bin(-10)

'-0b1010'

* hex() function - Converts the number from string to hexadecimal representation

In [21]:
### pass value 10 to the hex() function and it returns the hexadecimal representation of the passed value
## output would 0xa
 #0-9abcdef
hex(10)

'0xa'

In [22]:
### pass value 23 to the hex() function and it returns the hexadecimal representation of the passed value
## output would 0x8 7*16^0 + 1*16^1 = 7 + 16 = 23
hex(23)

'0x17'

In [23]:
### pass value 17 to the hex() function and it returns the hexadecimal representation of the passed value
## output would 0x8
hex(17)

'0x11'

* oct function - Coverts the number from String representation to octal representation

In [24]:
### pass value 10 to the oct() function and it returns the octal representation of the passed value
## output would 0o12 - Prefix is 0o
oct(10) # 2 * 8^0 + 1* 8^1 = 10

'0o12'

In [25]:
### pass value 15 to the oct() function and it returns the octal representation of the passed value
## output would 0o17 - Prefix is 0o
oct(15)

'0o17'

In [26]:
### pass value 13 to the oct() function and it returns the octal representation of the passed value
## output would 0o15 - Prefix is 0o
oct(13)

'0o15'

* int() function - Integer values with other bases

In [28]:
### default base value of an integer int(10)
int(10)

10

In [29]:
### Passing a string value '10' for base 2 - int('10',base=2)
int('10', base=2)

2

In [31]:
### Passing a string value '10001' for base 2 - That is the representation is 10001 in base 2
### This number is converted to base 10. - int('10001',base=2)
int('10001',base=2)

17

In [32]:
### Passing a string value '0xa' for base 6 - that is the representation is 0xa in base 16
## The number is 10 in base 10 - int('0xa',base=16)
int('0xa',base=16)

10

In [33]:
### Covnverts the number from base 8 to base 10 - int('0o15', base=8)
int('0o15',base=8)

13

In [35]:
### converts the number from base 16 to base 10 - that is the representation is 0x17 in base 16
## The number is 23 in base 10 - int('0x17',base=16)
int('0x17',base=16)

23

* abs() function returns the absolute value. Indicating that it returns the positive value

In [36]:
### pass 10.2 value to abs function - it generated the absolute value of the argument - abs(-10)
abs(-10.2)

10.2

In [37]:
### pass 20.5 value to abs function - it generated the absolute value of the argument - abs(-20.5)
abs(20.5)

20.5

* pow() function returns the number for this formula - base** exponent

* base of the number and the exponent it is raised to

In [39]:
### pass 2 as the base followed by 3 as the exponent - 2**3 - pow(2,3) - pow(2,3)
pow(2,3) 
print(2**3)

8

In [40]:
### pass 3 as the base followed by 2 as the exponent - 3**2 - pow(3,2)
pow(3,2)

9

* min() function returns the minimum of two or more values

In [41]:
### Pass the values as -5, 10, 30 to the minimuum function and check the output - min(-5,10.30)
min(-16,3,5)

-16

In [42]:
### Pass the value as 1,2,3 to the minimum function and check the output - min(1,2,3)
min(2,1,3)

1

In [43]:
### If we pass only one value in the minimum function - then we get an error
min(2)

TypeError: 'int' object is not iterable

* max() function returns the maximum of two or more values

In [45]:
### Pass the values as -5, 10, 30 to the maximum function and check the output - max(-5,10.30)
max(-5,10,30)

30

In [46]:
### Pass the value as 1,2,3 to the maximum function and check the output - max(1,2,3)
max(1,2,3)

3

* len() function gives us the length of the given string - We cannot pass integer or floating point valie

In [47]:
### Let us pass string values to the len() function to check its length - 'Python' returns length of 6
len('Python')

6

In [48]:
### Let us pass string value to len() function to check its length - 'Hello World!' return the length of 12
len('Hello World!')

12

* repr() function gives back the printable representation of the object

In [49]:
### Pass 'monday' as input to repr. repr('Monday') -- The resultant output is 'Monday'
repr('Tuesday')

"'Tuesday'"

In [50]:
### Pass repr('monday') as input to print. print(repr('Monday')) -- The resultant output is 'Monday'
print(repr('Monday'))

'Monday'

#### String Operations
*  Text sequences - String 
*  String are sequences of text. String sequences are immutable.

In [1]:
### We import the string module and use ascii_letters on string. The output is english alphabets in lower case 
### and upper case.- string.ascii_letters
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [52]:
### The ascii_lowercase shall return the lower case letters on string. 
## The output is english alphabets in lower case - string.ascii_lowercase
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [53]:
#### the ascii_upppercase shall return the upper case letters as string. 
### the output is english alphabets in upper case - string.ascii_uppercase
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [54]:
#### The digits shall return the digits as string. The ouput is '0123456789' - string.digits
string.digits

'0123456789'

In [2]:
#### The digits shall return hexadecimal digits as string - string.hexdigits. The output is '0123456789abcdefABCDEF'
string.hexdigits

'0123456789abcdefABCDEF'

In [57]:
#### The digits shall return octal digits as string. The output is '01234567' - string.octdigits
string.octdigits

'01234567'

In [59]:
#### The digits shall return punctutation marks as string. string.punctuation 
### The output is '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

* The Stirng value can be stored in
   three ways
    * In single quotes
    * In double quotes
    * In triple quotes

In [62]:
### Textutal data can be put in single quotes. for example text_s_quote = 'Tuticorn has two words tuti and corn'
text_s_quote = 'Tuticorn has two words tuti and corn'
text_s_quote

'Tuticorn has two words tuti and corn'

In [63]:
#### Textual data can be put in double quotes. For Example text_d_Quote = "Tuticorn has two words tuti and corn"
text_d_quote = "Tuticorn has two words tuti and corn"
text_d_quote

'Tuticorn has two words tuti and corn'

In [65]:
#### Textual data can be put in triple quotes It can be multiple line also. For exampe text_tr_Quote = """ Tuticorn has two words tuti and corn """
text_tr_quote = """
Tuticorn has two
word
tuti and corn
"""
text_tr_quote

'\nTuticorn has two\nword\ntuti and corn\n'

* String values are immutable - cannot change them
 - sliced and accessed using indices

* Accessing the string values based on indices - [:]
index start from zero 


|P|R|B|H|A|S|
------------------
=================
|0|1 |2 |3 |4|5|
------------------

In [3]:
text_data = 'Tuticorn has two words tuti and corn'

In [4]:
text_data[0]

'T'

In [6]:
text_data[1]

'u'

In [7]:
text_data[-1]

'n'

In [8]:
text_data[-6]

'd'

In [10]:
text_data[0:8] #[0:n-1]

'Tuticorn'

In [11]:
text_data[9:12]

'has'

In [14]:
text_data[-4:]

'corn'

In [16]:
data = 'appa' # palindrome - if we reverse string the original string is obtained
print(data[:])
print(data[::-1])

appa
appa

In [15]:
text_data = 'Tuticorn has two words tuti and corn'
text_data[::-1]

'nroc dna itut sdrow owt sah nrocituT'

In [19]:
text_data[1::2] # [start:end:stepValue]

'uionhstowrstt n on'

In [67]:
###"""|T|u|t|i|c|o|r|n| |h|a |s |  | t| w| o|  | w| o |r |d |s |22 | t| u| t| i | | a | n| d|  |c|o|r|n|"""
###"""|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22 |23|24|25| 26|27|28|29| 30|31| ""
### String values can be accessed using index operators. text_data = "Tuticorn has two words tuti and corn"
### text_data[0:5]
text_data = 'Tuticorn has two words tuti and corn'
text_data[0:5]

'Tutic'

In [69]:
### If string value are provided as [start:] where start=0 or [:] , then entire string will be provided
###"""|T|u|t|i|c|o|r|n| |h|a |s |  | t| w| o|  | w| o |r |d |s |22 | t| u| t| i | | a | n| d|  |c|o|r|n|"""
###"""|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22 |23|24|25| 26|27|28|29| 30|31| ""
##text_data = "Tuticorn has two words tuti and corn"
#text_data[0:]
print(text_data)
print(text_data[0:])

Tuticorn has two words tuti and corn
Tuticorn has two words tuti and corn

In [71]:
### If string values are provided as [start:end] where start is some number and
### end is some number less than length of the string. Then it slices only that many end-start+1
###"""|T|u|t|i|c|o|r|n| |h|a |s |  | t| w| o|  | w| o |r |d |s |22 | t| u| t| i | | a | n| d|  |c|o|r|n|"""
###"""|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22 |23|24|25| 26|27|28|29| 30|31| ""
#start = 3 #end = 15 #text_data[start:end]
text_data[9:12]

'has'

* String methods
    * capitalize()
    * count()
    * endswith

* captilize() - This method on string returns a copy by making the first character of the string in uppercase and the reset lowercased

In [20]:
### "tuticorn".capitalize() shall return the output as Tuticorn #"tuticorn".capitalize()
'tuticorn'.capitalize()
word = 'tuticorn'
word.capitalize()

'Tuticorn'

* count() - This method counts the number of times a given sub-string occurs in a given string

In [22]:
### "Tuticorn has two words tuti and corn".count('corn') counts the number of time corn has appeared
## "Tuticorn has two words tuti and corn".count('corn')
text_data = "Tuticorn has two words tuti and corn"
"Tuticorn has two words tuti and corn".count('corn')
text_data.count('corn')

2

* center() - Centres the string with the necessary padding at the ends

In [25]:
### "Tuticorn" centers the string with the necessary padding at the ends. 
##print("tuticorn".center(12))
## "tuticorn".center(12,"=")
tutWord = "tuticorn".center(14)
print(tutWord)
print('Length of tutword,', len(tutWord))

   tuticorn
Length of tutword, 14

* endswith() returns true if the string is available as suffix at the end.

In [29]:
### "Tuticorn has two words tuti and corn".endswith("corn") shall return True
##"Tuticorn has two words tuti and corn".endswith("corn")
text_data = "Tuticorn has two words tuti and corn"
text_data
text_data.endswith('corn') ## True/False

True

* in operator can also be used to check if a sub-string is availble in String

In [32]:
### "corn" in "Tuticorn has two words tuti and corn" returns True
##"corn" in "Tuticorn has two words tuti and corn"
text_data = "Tuticorn has two words tuti and corn"
"corn" in text_data

True

In [33]:
### "corns" in "Tuticorn has two words tuti and corn" returns False
##"corns" in "Tuticorn has two words tuti and corn"
text_data = "Tuticorn has two words tuti and corn"
"corns" in text_data

False

* format on string can be used for formatting the string. The string on which this method is called can contain literal text or replacement fields delimited by braces {}

In [35]:
### Passing the value without any index
### "corn can be good during a {}".format("movie") {} is replaced with movie
##"corn can be good during a {}".format("movie")
"corn can be good during a {}".format("movie")

'corn can be good during a movie'

In [39]:
#### Index can be also be used to replace the positional argument with the string value
#### "value of two numbers {0} and {1} is {2} ".format(4,5,9)
##"value of two numbers {0} and {1} is {2} ".format(4,5,9)
"Product of two numbers {0} and {1} is {2} ".format(3,4,12)

'Product of two numbers 3 and 4 is 12 '

* find() - find function finds the index of the substring in the string </br>
          If the substring is not found -1 will be returned

In [43]:
#### corn function finds it at the index 
## print()"Tuticorn has two words tuti and corn".find("corn")) at 4
#print("Tuticorn has two words tuti and corn".find("corn"))
#print("Tuticorn has two words tuti and corn".find("has",15,36))
text_data = "Tuticorn has two words tuti and corn"
text_data.find('corn') # find(substring)
indStart = text_data.find("corn",9,36) # find(substring,start,end)
print(indStart)
text_data[indStart:]

32

'corn'

In [45]:
text_data.find('bat')

-1

In [44]:
text_data.find('corn',10,25)

-1

* isalpha() - Returns True if all characters in the string are e string are alphabetic and there is at least one character, False otherwise

In [48]:
#### "234".isalpha() returns True, "helloworld".isalpha() returns True
#print("234".isalpha())
#print("helloworld".isalpha())
words1 = 'helloworld'
print('hello world isalpha', words1.isalpha())
words2 = ''
print('Zero characters here ',words.isalpha())
words3 = '234'
print('Numbers as characters here',words3.isalpha())

hello world isalpha True
Zero characters here  True
Numbers as characters here False

* isdecimal() returns True , if the value is decimal (0-9) else it returns false.

In [52]:
#### "10.23".isdecimal() returns False "234".isdecimal() returns False,"\u00B3".isdecimal() returns False
#print("10.23".isdecimal())
##print("234".isdecimal())
##print("\u00B3".isdecimal())
num1 = '123'
print('123 on isdeicmal',num1.isdecimal())
num2 = '23.34'
print('23.34 on isdecimal',num2.isdecimal())
num3 = '\u00B3'
print('\u00B3 on isdecimal',num3.isdecimal())

123 on isdeicmal True
23.34 on isdecimal False
³ on isdecimal False

* isdigit() returns true if all charaters are digits and atleast one character. Else it returns False.
  Unicode representations are also considered as digits

In [56]:
#### "121".isdigit() returns True, "A123".isdigit() returns False, "\u00B3".isdigit() returns True
#print("121".isdigit())
#print("A123".isdigit())
#print("\u00B3".isdigit())
num1 = '34'
print('num1 on isdigit', num1.isdigit())
num2 = 'A234'
print('num2 on isdigit',num2.isdigit())
num3 = '\u00B3'
print('num3 on isdigit',num3.isdigit())

num1 on isdigit True
num2 on isdigit False
num3 on isdigit True

* islower() returns true if the case of the all characters is lowercase. Else False otherwise

In [59]:
### "tuticorn has two words tuti and corn".islower() returns True. "TUTICORN has two words tuti and corn".islower()
#print("tuticorn has two words tuti and corn".islower())
#print("TUTICORN has two words tuti and corn".islower())
text_data = 'tuticorn has two words tuti and corn'
print('lower case words', text_data.islower())
text_data_1 = 'TUTICORN has two words tuti and corn'
print('upper case included',text_data_1.islower())

lower case words True
upper case included False

* isupper() returns True if the case of all the characters is uppercase. Else Fale otherwise

In [61]:
### "TUTICORN HAS TWO WORDS TUTI AND CORN".isupper() returns True. "TUTICORN has two words tuti and corn".isupper() returns False
#print("TUTICORN HAS TWO WORDS TUTI AND CORN".isupper())
#print("TUTICORN has two words tuti and corn".isupper())
text_data = 'tuticorn has two words tuti and corn'
print('isupper on text_data',text_data.isupper())
text_data_1 = 'TUTUCORN HAS TWO WORDS TUTI AND CORN'
print('isupper fine now ', text_data_1.isupper())

isupper on text_data False
isupper fine now  True

* strip() function returns the copy of the string with the leading characters removed.

In [63]:
#### strip() function removes the spaces around the string. " TUTICORN ".strip() removes the spaces and return "TUTICORN"
#print(" TUTICORN ".strip())
word1 = "  TUTICORN   "
word1 = word1.strip()
print(word1)

TUTICORN

* title() function returns the string with the first letter in each word is capitalized.

In [64]:
### title() function returns the capitalized word. "tuti corn".title() returns Tuti Corn
#print("tuti corn".title())
word2 = 'tuticorn has two words tuti and corn'
word2.title()

'Tuticorn Has Two Words Tuti And Corn'

#### Capturing Input from Command line using the input() function

In [1]:
### Pass name as input to capture the input from the command line
#print(f'My name is', end=' ')
#name = input()
name = input('Enter the name')
print('My name is ', name)

Enter the nameJayant
My name is  Jayant

In [3]:
### pass age as input to capture the input from the command line
#print('Age is',end=' ') #age = input() #print(type(age))
age = input('Enter the age')
print('Age ',age)
print(type(age))

Enter the age10
Age  10
<class 'str'>

In [7]:
###  pass price value as input to capture the input from the command line
#print('Price is' , end=' ') #price = input() #price = float(price) #print(type(price))
price = input('Enter the price value')
price = float(price)
print('price ',price)
print(type(price))
print(price*10)

Enter the price value40.5
price  40.5
<class 'float'>
405.0

In [96]:
### Exercise - Capture three inputs from the command line - name, addres and mobile and display the
### details to the screen.

In [9]:
name = input('Enter your name ')
address = input('Enter your address ')
mobile = input('Enter you mobile ')
print('name of person is {} , address is {} , mobile is {}'.format(name,address,mobile))

Enter your name jayant
Enter your address India
Enter you mobile 9776975664
name of person is jayant , address is India , mobile is 9776975664

Enter your namejayant
Enter your addressIndia
Enter your mobile number9776975664
name of the person is jayant, address is India, Mobile numer is 9776975664

#### Operators and Operands in python
  * Arthimetic Operators
  * Comprision Operators
  * Boolean Operators
  * Bitwise Operators
  * Identity Operators
  * Membership Operators

* Arthimetic Operators
    * Addition
    * Subtraction
    * Multiplication
    * Division
    * Modulo
    * exponentional

* Addition - Adds two numbers ('+')

In [10]:
### Add two number using '+'  #x = 10 #y = 13 #print(x+y)
x = 10
y = 13
print(x+y)

23

* Subtraction - Subtract two numbers ('-')

In [11]:
#### Subtract two number using '-  x = 13, y = 10, print(x-y)
x = 13
y = 10
print(x-y)

3

* Multiplication - multiply two numbers ('*')

In [12]:
#### Multiply two numbers using '*' , x = 10 ,y = 5 ,print(x*y)
x = 10
y = 7
print(x*y)

70

* Division - Division of two number ('/') or ('//')

In [13]:
#### Divide two numbers using '/' x = 15 y = 10 print(x/y) print(x//y)
x = 15
y = 10
print(x/y)
print(x//y)

1.5
1

* Modulo - Modulo of two numbers (%)

In [14]:
#### Find the remainder of two numbers using % x = 20 y = 10  print(x%y)
x = 33
y = 10
print(x%y)

3

In [107]:
#### Find the remainder of two numbers using % x = 30 y = 4 print(x%y)

2

* Exponential - exponent of two numbers (**)

In [16]:
#### Find the exponent of a number - Base and exponent x = 2 y = 3 print(2**3)
3**2
pow(3,2)

9

* Comprision Operators
    * Less than(<)
    * greater than (>)
    * less than or equal to (<=)
    * equal to (==)
    * greater than or equal to (>=)
    * Not equal to (!=)

In [17]:
#5 < 3
5 < 3

False

In [18]:
#9 > 4
9 > 4

True

In [19]:
#10 >= 10
10 >= 10

True

In [20]:
#11 >= 15
11 >= 15

False

In [21]:
#13 <= 14
13 <= 14

True

In [22]:
#12 == 14
14 == 14

True

In [23]:
#15 == 16
15 == 16

False

In [117]:
#12 == 12

True

In [24]:
# 23 != 24
23 != 24

True

In [25]:
# 23 != 23
23 != 23

False

* Boolean Operators
    * and
    * or
    * not

In [26]:
### Perform the operation as below for 'and' operator- Check  (x > y) and (y > z) for output
# x = 5 y = 2 z = 3 (x>y) and (y>z)
x = 5
y = 2
z = 3
print(x > y)

True

In [27]:
print(y > z)

False

In [28]:
(x>y) and (y>z)

False

In [29]:
(x>y) and (z>y)

True

In [30]:
#### Perform the operation as below for 'or' operator- Check  (x > y) or (y > z) for output
# x > y or z > y
(x>y) or (y>z)

True

In [31]:
#### Perform the operation as below for not operator - Check x != y
# print(x!=y)
print(x!=y)

True

* Bitwise Operators

In [32]:
#### Bitwise opearators AND (0&1 gives 0, 1&0 give 0, 1&1 give 1,0&0 gives 0)
# print(0&1)
print(0&1)

0

In [33]:
# print(0&0)
print(0&0)

0

In [34]:
# print(1&1)
print(1&1)

1

In [35]:
# print(1&0)
print(1&0)

0