###  Python-Lesson 03
#### In this notebook, we shall cover the following concepts 
   - Bitwise operators
   - Membership operators
   - Identity Operators
   - Conditional Statements
   - Python Data Structures
       - List
       - Tuple
       - Sets
       - Dictionary
       - Collections in Python

* Bitwise Operators
* Membership Operators
* Identity Operators

<img src="truthTable.JPG">

* Bitwise Operators

- Bitwise AND (&) Operator

In [6]:
print(bin(3))
print(bin(5)) # 011 & 101 --> 1 3&5

0b11
0b101

In [2]:
3&5 # 011
    # 101
    #------
    #   001

1

- Bitwise OR (|) Operator

In [ ]:
# 0011 | 0101 -> 0111 (3|5)

In [3]:
# 011
# 101
#------
#  111 -> 2^0 + 2^1 + 2^2
print(3|5)

7

* Bitwise XOR (^) Operator

In [4]:
# 1011 ^ 1100 -> 0111 (11^12 -> 7)
#1011
#1100
#-----
#0111 -> 2^0 + 2^1 + 2^2
print(11^12)

7

* Bitwise << left shift operator - The left shift operator shifts the left bits operand towards left.
- 1100 << 2 means that the two zeros are appended at the right side. 110000 is the output

In [5]:
### input is 1100 --> 12 << 2 output is 110000 (48) is the output - 12 << 2 
# 1100
12 << 2 # -> 110000 -> 32 + 16 = 48

48

* Bitwise >> right shift operator - The right shift operator shifts the right side bits. The rigt side bit are removed.
- 110011 >> 2 means that the last two bits are removed from the right side. 1100 is the output.

In [8]:
# 51 -> in binary is 110011 and when last two are removed we get 1100 (12) as the output - 51 >> 2
#110011  (51) -> 1100 (1*2^2 + 1*2^3 = 12) 110 -> 11 
51 >> 4

3

* Bitwise one's complement operator (~) x -> -(x+1) . This gives the complement of the binary number
- ~10 (1010) -> -11

In [9]:
~10 #(-(10+1)) # x = -(x+1) -x-1

-11

In [10]:
~-10

9

In [26]:
#### Exercise - check if a number is even using bitwise & operato x = 11 x&1 == 1  # odd number  y = 12 y&1 == 0 # even number

True

In [13]:
divmod(11,2)

(5, 1)

In [15]:
divmod(12,2)
12%2

0

In [11]:
x = 11
x&1 == 1

True

In [12]:
x=12
x&1 == 0

True

* Membership Operators - in and not in

In [16]:
### We can check the if the values are available or not in the given string for operators
## a='hello' in b='hello can i know the time please ?' check a in b
a = 'hello'
b = 'hello ! can i know the time please ?'
a in b

True

In [17]:
### We can check the if the values are available or not in the given string for operators
## a='bell' in b='hello can i know the time please ?' check a not in b
a = 'bell'
b = 'hello ! can i know the time please ?'
a not in b

True

In [18]:
### We can check the if the values are available or not in the given string for operators
## a='bell' in b='hello can i know the time please ?' check a  in b
a = 'bell'
b = 'hello ! can i know the time please ?'
a in b

False

* Identity Operators - is and is not

In [19]:
### is or is not operators can be used to know if certain conditions are met are not a = 21
# b = 33 c = b print(c is b)
b = 33
c = b
b is c

True

In [20]:
# print(c is not b)
c is not b

False

### Python Conditional Statements
if expr: </br>
    statement </br>
elif expr:    </br>
    statement </br>
elif expr:    </br>
    statement </br>
elif expr:    </br>
    statement </br>
: </br>
: </br>
: </br>
else:         
    statement

In [9]:
## if key weyword
x = -54
if x > 0:
    print('The value is positive')
    x = x + 1 # x += 1
    print(x)
print('Out of if condition')

Out of if condition

In [11]:
## Simple condition for two numbers
x = 10
y = 20
if x > y:
    print('x is greater')
else:
    print('Y is greater')

Y is greater

In [14]:
### Enter a name to Capture input from the command line and write conditions for it.
name = input('Enter a name')
print('Name is', name)
if name == 'Jayant':
    print('Please go straight')
elif name == 'Mayank':
    print('Turn left from here')
elif name == 'Pramod':
    print('Turn right from here')
elif name == 'Vinod':
    print('Turn backwards')
else:
    print('Name is not available in here')

Enter a nameMayank
Name is Mayank
Turn left from here

In [16]:
### Writing a if else block of code to capture the statements such that 
## we print statements only for age group of 13
age = input('Enter age of participant ')
age = int(age)
if age >= 13:
    print('You can start coding')
else:
    print('Please try basics of computer')

Enter age of participant 12
Please try basics of computer

**Hacker Rank** Questions

### Hacker Rank Question 
Given an integer, perform the following conditional actions:
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of to 6 to 20, print Weird
If n is even and greater than 20 , print Not Weird
n >= 1 and n <= 100

In [21]:
## Summary of above n --> weird ( odd , even and 6 to 20) Not weird (even and 2to 5 and > 20)
n = int(input('Enter a number starting from 1 and ending at 100 '))
if n%2 != 0:
    print('Weird')
elif n%2 == 0 and 2 <= n <= 5:
    print('Not weird')
elif n%2 == 0 and 6 <= n <= 20:
    print('Weird')
elif n %2 == 0 and n > 20: #else:
    print('Not weird')

Enter a number starting from 1 and ending at 100 24
Not weird

### Loops in Python
- while loop in python

In [23]:
while True:
    #
    #

SyntaxError: incomplete input (678963958.py, line 3)

In [ ]:
x = 0
while x < 7:
    print(x)
    #
x += 1  # <- line is never reached

In [22]:
### while loops in python x = 0  while x < 7:
x = 0
while x < 7:
    print(x)
    x += 1 # x = x + 1

0
1
2
3
4
5
6

In [24]:
### while loops in python decreasing x = 5 while x > 0: print(x) x -= 1
x = 5
while x > 0:
    print(x)
    x -= 1

5
4
3
2
1

- for loop in python

* Range Object - A Range

If we want to generate numbers from 0 to n - then we can use range() 
   - Generate numbers using range object
   - range()- A range object generates a sequence of numbers starting from 0 to n

In [26]:
range(10)

range(0, 10)

In [27]:
range(0,10,2) # range(start,end,step) # range(100,0,-1)

range(0, 10, 2)

In [25]:
range(1,10) ##

range(1, 10)

In [28]:
#for loops in python using range object - Starting from 0 and ending until 3 for i in range(3): print(i)
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [29]:
# for loops in python using range object - Starting from a number 2 and ending until 10.
# for i in range(2,10):   print(i)
for i in range(3,10,2):
    print(i)

3
5
7
9

In [32]:
for i in range(3):
    print(i)

0
1
2

In [31]:
# for loops in python using range object - Staring from a number and ending at a number with difference
# for i in range(2,14,2): print(i)
for i in range(5,10):
    print(i)

5
6
7
8
9

In [33]:
for i in range(15):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14

In [35]:
n = int(input('Enter the value of n '))
for i in range(n):
    if i%2 == 0:
        print(i)

Enter the value of n 10
0
2
4
6
8

#### Python Data Structures
- List
- Tuple
- Sets
- Dictioary 
- Collections in Python

* List - List of comma separated values (items) between square brackets </br>
       - Lists can be heterogenous - can take different values. </br>
       - Lists can be accessed based on indices. </br>
       

</br>
<span style="color:red">   |  0  |  1  |  2  |  3  |  4 |  </span> </br>
<span style="color:green">|  1  |  2  |  3  |  4 |  5 |  </span> </br>
<span style="color:blue">  | -5  | -4  | -3  | -2  | -1 |  </span> </br>

In [36]:
### Creating an empty list - [] numval = []
names = []
names1 = list()

In [37]:
print(names)
print(names1)

[]
[]

In [38]:
print(type(names))
print(type(names1))

<class 'list'>
<class 'list'>

In [39]:
# numbers = [1,2,3,4,5] numbers
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [41]:
#### finding the numbers with zeroth index - numbers[0] numbers[0]
numbers[0]
numbers[1]

2

In [42]:
#### Finding the numbers from the last - numbers[-1] numbers[-1]
numbers[-1]

5

In [43]:
numbers

[1, 2, 3, 4, 5]

In [44]:
#### finding the number from first (0) to last- numbers[0:]
numbers[0:]

[1, 2, 3, 4, 5]

In [46]:
#### finding the numbers from first index (1) to (4) index - numbers[1:4]
numbers[1:4]
numbers[1:]

[2, 3, 4, 5]

In [47]:
#### finding the numbers from second index (2) to (5) index - numbers[2:5]
numbers[2:]

[3, 4, 5]

In [48]:
#### finding the numbers from last index -3 to to the zeroth index -numbers[-3:]
numbers[-4:]

[2, 3, 4, 5]

* Print all numbers

In [49]:
### listing all the numbers from the list - numbers[:]
numbers[:]
print(numbers)

[1, 2, 3, 4, 5]

* print length of numbers

In [50]:
### length of the list can be found using - len(numbers)
len(numbers)

5

* Assign value to particular index

In [1]:
numbers = [0,1,2,3,4,5,6]
len(numbers)

7

In [2]:
#### We can reassign value to a index in a list - assign a new number to index 0
numbers[0] = 11

In [3]:
numbers

[11, 1, 2, 3, 4, 5, 6]

In [4]:
# Check if new value is entered in numbers
numbers

[11, 1, 2, 3, 4, 5, 6]

* append() elements to a list

In [5]:
#### List values can be appended at the end in a list - numbers.append() - numbers.append(6)
numbers.append(22)

In [6]:
#### List of number after the append - numbers
numbers

[11, 1, 2, 3, 4, 5, 6, 22]

* To check the type of the list

In [7]:
#### Check type of list  # type(numbers)
type(numbers)

list

* Elements of list is heterogenous

In [9]:
#### Different types of values an be appended to a list #listValues = ['Apple','Banana',23,24,25,26] listValues
heteroValues = ['Apple','Banana',23,24,25,26,23.5]
print(heteroValues)

['Apple', 'Banana', 23, 24, 25, 26, 23.5]

* Append elements to a list using append()

In [10]:
#### List can also be appended with 'Mango' at the list #listValues.append('Mango')
heteroValues.append('Mango')
heteroValues

['Apple', 'Banana', 23, 24, 25, 26, 23.5, 'Mango']

In [11]:
#### list value can also be appended with [33,45,56] listValues.append([33,45,56])
heteroValues.append([33,34,'PineApple'])

In [13]:
#listValues
heteroValues

['Apple', 'Banana', 23, 24, 25, 26, 23.5, 'Mango', [33, 34, 'PineApple']]

In [14]:
type(heteroValues)

list

* Create list using the timing values - ['1:30','2:30','3:30','4:30','5:30','6:30','7:30']

In [15]:
heteroValues

['Apple', 'Banana', 23, 24, 25, 26, 23.5, 'Mango', [33, 34, 'PineApple']]

In [16]:
gList = ['Carrot','Spinach','Cabbage']
gList

['Carrot', 'Spinach', 'Cabbage']

In [17]:
heteroValues = heteroValues + gList

In [18]:
heteroValues

['Apple',
 'Banana',
 23,
 24,
 25,
 26,
 23.5,
 'Mango',
 [33, 34, 'PineApple'],
 'Carrot',
 'Spinach',
 'Cabbage']

In [19]:
### timings values are like this - timings = ['1:30','2:30','3:30','4:30','5:30','6:30','7:30']
timings = ['1:30','2:30','3:30','4:30','5:30','6:30','7:30']
timings

['1:30', '2:30', '3:30', '4:30', '5:30', '6:30', '7:30']

In [20]:
timings[0:3]

['1:30', '2:30', '3:30']

In [21]:
## Slice the list value from 2:5 
timings[2:5]

['3:30', '4:30', '5:30']

In [22]:
## Slice the list value from 4:
timings[4:]

['5:30', '6:30', '7:30']

* reverse() a list

In [25]:
### To find the reverse of the list - list[::-1]
timings1 = timings[::-1]
timings1

['7:30', '6:30', '5:30', '4:30', '3:30', '2:30', '1:30']

In [24]:
timings

['1:30', '2:30', '3:30', '4:30', '5:30', '6:30', '7:30']

In [30]:
### Alternatively to reverse the list- use the timings.reverse()
timings.reverse()
timings

['7:30', '6:30', '5:30', '4:30', '3:30', '2:30', '1:30']

* index of a value in the list

In [31]:
#### To get the index of the given element - timings.index('2:30')
timings

['7:30', '6:30', '5:30', '4:30', '3:30', '2:30', '1:30']

In [34]:
timings.index('6:30')

1

* insert an element at a particular index

In [39]:
### Insert the value 8 at the index 2 - timings.insert(2,8)
timings.insert(1,'7:00')

In [40]:
timings

['7:30', '7:00', '6:30', '5:30', '4:30', '3:30', '2:30', '1:30']

* remove a value from the list

In [41]:
### To remove an element from the list we can do this - timings timings.remove(8)
timings.remove('7:00')
timings

['7:30', '6:30', '5:30', '4:30', '3:30', '2:30', '1:30']

* pop an element from the list

In [42]:
### to remove the top most element from the list - timings - timings.pop()
timings.pop()

'1:30'

In [43]:
timings

['7:30', '6:30', '5:30', '4:30', '3:30', '2:30']

* sort() an element from the list

In [44]:
### using the sort() list can be sorted - timings.sort()
timings.sort()

In [45]:
timings

['2:30', '3:30', '4:30', '5:30', '6:30', '7:30']

* extend an element from the list

In [46]:
## Extend the list by adding the elements - Elements shall be appended at the end of the list
## extend - ['7:30','8:30','9:30'] # timings.extend(['7:30','8:30','9:30'])
timings.extend(['8:30','9:30','10:30'])

In [47]:
timings

['2:30', '3:30', '4:30', '5:30', '6:30', '7:30', '8:30', '9:30', '10:30']

In [48]:
midNightTimings = ['10:30','11:30','12:30']
timings.extend(midNightTimings)
timings

['2:30',
 '3:30',
 '4:30',
 '5:30',
 '6:30',
 '7:30',
 '8:30',
 '9:30',
 '10:30',
 '10:30',
 '11:30',
 '12:30']

* Iterate a list

In [49]:
## for timing in timings: print("The time now is {}".format(timing))
# ['2:30', '3:30', '4:30', '5:30', '6:30', '7:30', '8:30', '9:30', '10:30']
for timing in timings:
    print('The Time now is {}'.format(timing))

The Time now is 2:30
The Time now is 3:30
The Time now is 4:30
The Time now is 5:30
The Time now is 6:30
The Time now is 7:30
The Time now is 8:30
The Time now is 9:30
The Time now is 10:30
The Time now is 10:30
The Time now is 11:30
The Time now is 12:30

* sum of elements in a list

In [53]:
### Lets build a list using 10,11,12,13,14,15,16 - The sum of all the elements in the list can be computed
### in two ways  - sum(intList) or using for loops
numbers = [10,11,12,13,14,15,16.0]
print('The sum of numbers is', sum(numbers)) 
numbers

The sum of numbers is 91.0

[10, 11, 12, 13, 14, 15, 16.0]

* sum of the elements using for loops

In [54]:
intList = [10,11,12,13,14,15,16]
slist = 0
for num in intList:
    slist = slist + num # slist += num
print('The sum of list of numbers is', slist)

The sum of list of numbers is 91

* for comprehensions

In [55]:
### Sqaure of first 5 numbers using a list 
sqList = []
for i in range(1,6):
    sqList.append(i*i)
print(sqList)

[1, 4, 9, 16, 25]

* While loop for square of first 5 number using a list

For comprehension is a simple way of returning the value based on certain input

In [57]:
## Based on the range object lets find the square of each number y = [x**2 for x in range(5)]
y = [x**2 for x in range(1,6)] # -> [1**2,2**2,3**2,4**2,5**2]
y

[1, 4, 9, 16, 25]

In [63]:
y

[0, 1, 4, 9, 16]

In [59]:
sqList = []
for i in range(1,11):
    if i % 2 == 0:
        print(i)
        sqList.append(i*i)
print(sqList)

2
4
6
8
10
[4, 16, 36, 64, 100]

In [60]:
## We can also include condition within the for comrephension y = [x**2 for x in range(10) if x%2 == 0 ]
y = [i**2 for i in range(1,11) if i%2 == 0]
y

[4, 16, 36, 64, 100]

In [61]:
### return if only list contains letters starting with s #names = ['sunday','super','semi-conductor','non-conductor','mango','apple'] y = [x for x in names if x.startswith('s')]
## using for loop get values that with s - list of values with starting letter 's'
names = ['sunday','super','semi-conductor','non-conductor','maggi','autonomous']
y = [name for name in names if name.startswith('s')]

In [62]:
y

['sunday', 'super', 'semi-conductor']

#### Tuples
 - Tuples are immutable objects that can be represented in ()
 - Tuples can be accessed using indices
 - Tuples are created by passing vlues to ()

In [63]:
#tup1 = (25,'Mango','Rajesh',40,25,24,25)
tup1 = (25,'Mango','Rajesh',40,25,24,25)
tup1

(25, 'Mango', 'Rajesh', 40, 25, 24, 25)

In [64]:
tup1[1]

'Mango'

In [65]:
### Tuples can be iterated over using for loop  for x in tup1:print(x)
for x in tup1:
    print(x)

25
Mango
Rajesh
40
25
24
25

In [66]:
## Assigning a value to tuple shows error - tuple object does not support assignment tup1[0] = 35
tup1[1] = 45

TypeError: 'tuple' object does not support item assignment

In [67]:
## Count function gives the count of the element in the tuple tup1.count(25)
tup1.count(25)

3

In [68]:
tup1.count('Mango')

1

In [69]:
tup1.count(44)

0

In [70]:
'Mango' in tup1

True

In [ ]:
for x in a:
    for y in b:

In [3]:
### Exercise - There are two list [2,3,4] and [2,5,6] -Get a combination (x,y) 
## x is the element from first list, 
#output = [(a,b) for a in x for b in y if x!=y]
## y is the element from second list - Get combinations (x,y) such that x is not equal to y
a = [2,3,4,5]
b = [4,5,6,7]
outList = [(x,y) for x in a for y in b if x != y]

In [4]:
outList

[(2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (4, 5),
 (4, 6),
 (4, 7),
 (5, 4),
 (5, 6),
 (5, 7)]

* **Sets in Python**
  - Sets contain unique elements  
  - Sets are unordered sequence of elements
  - They are represented using the {} (curly braces)

In [5]:
s1 = set()

In [6]:
s1

set()

In [7]:
type(s1)

set

In [8]:
# {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
friends = {'Mahesh','Jignesh','Suraj','Kiran','Surya','Mahesh'}
friends

{'Jignesh', 'Kiran', 'Mahesh', 'Suraj', 'Surya'}

In [9]:
#### Sets can be constructed using the following set keyword and passing a list to it eles = set(['Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'])
friendsList = set(['Mahesh','Jignesh','Suraj','Kiran','Surya','Mahesh'])
friendsList

{'Jignesh', 'Kiran', 'Mahesh', 'Suraj', 'Surya'}

* Iteration over sets in python

In [11]:
#elements
for friend in friends:
    print(friend)
friends

Surya
Kiran
Mahesh
Jignesh
Suraj

{'Jignesh', 'Kiran', 'Mahesh', 'Suraj', 'Surya'}

In [12]:
#for x in elements:   print(x)
for friend in friends:
    print(friend)

Surya
Kiran
Mahesh
Jignesh
Suraj

In [14]:
## The set elements are given below - We can represent the data as els = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}
friends
len(friends)

5

* Adding elements to set

In [87]:
### Add the following element to the set elements 'Mitra' using add function els.add('Mitra')

In [15]:
friends.add('Mitra')
friends.add('Ravi')

In [16]:
friends

{'Jignesh', 'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}

In [17]:
friends.add('Mitra')
friends.add('Ravi')

In [18]:
friends

{'Jignesh', 'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}

In [19]:
## Lets create one more set els2 = els2 = {'kiran','Mahesh', 'Mitra'}
friends2 = {'Kiran','Mitra','Mahesh'}
friends2

{'Kiran', 'Mahesh', 'Mitra'}

* seta.difference(setb) - Difference gives the elements that are in seta

In [20]:
# els.difference(els2)
# A - {'Jignesh', 'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}
# B - {'Kiran', 'Mahesh', 'Mitra'}
# A - B --> {'Jignesh', 'Ravi', 'Suraj', 'Surya'}
friends.difference(friends2)

{'Jignesh', 'Ravi', 'Suraj', 'Surya'}

* difference_update() - Removes the elements from the other set

In [21]:
# els.difference_update(els2)
friends.difference_update(friends2)

In [22]:
friends

{'Jignesh', 'Ravi', 'Suraj', 'Surya'}

In [23]:
# els2
friends2

{'Kiran', 'Mahesh', 'Mitra'}

In [24]:
len(friends)

4

In [101]:
## Create the set and try to perform union on els and els2 els = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'}len(els)

5

* union combines both the sets with unique elements

In [25]:
print(len(friends))
print(len(friends2))

4
3

In [28]:
# els.union(els2)
fele = friends.union(friends2)
fele

{'Jignesh', 'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}

In [27]:
print(len(friends))
print(len(friends2))

4
3

* intersection provides the common elements between the sets

In [29]:
# els.intersection(els2)
#{'Jignesh', 'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya'}
#{'Kiran', 'Mahesh', 'Mitra'}
#intersection
fele.intersection(friends2)

{'Kiran', 'Mahesh', 'Mitra'}

In [30]:
# print(els)
# print(els2)
print(fele)
print(friends2)

{'Surya', 'Kiran', 'Ravi', 'Mahesh', 'Mitra', 'Jignesh', 'Suraj'}
{'Kiran', 'Mitra', 'Mahesh'}

* Symmetric difference gives the elements that are not common as one single set.

In [31]:
friends2.add('Myntra')

In [32]:
friends2

{'Kiran', 'Mahesh', 'Mitra', 'Myntra'}

In [35]:
fele.difference(friends2) #(A-B )

{'Jignesh', 'Ravi', 'Suraj', 'Surya'}

In [33]:
fele.symmetric_difference(friends2)

{'Jignesh', 'Myntra', 'Ravi', 'Suraj', 'Surya'}

In [108]:
## els.symmetric_difference(els2) gives the common elements between both the sets. els.symmetric_difference(els2)

{'Kiran', 'Mitra', 'Ravi', 'Suraj', 'Surya', 'kiran'}

* Comprehension for set - Similar to for comprehension for Set
    - return type is Set when set comprehension is perfromed

In [36]:
setList = {'Kiran', 'Mitra', 'Ravi', 'Suraj', 'Surya', 'kiran','Mahesh','Jignesh'}
setList

{'Jignesh', 'Kiran', 'Mahesh', 'Mitra', 'Ravi', 'Suraj', 'Surya', 'kiran'}

In [39]:
output = {x for x in setList if x.startswith('M')}
output

{'Mahesh', 'Mitra'}

In [8]:
# listVal = {'Mahesh','Mahesh','Suraj','Ravi','Kiran','Surya'} uniEle = {x for x in listVal} uniEle

{'Kiran', 'Mahesh', 'Ravi', 'Suraj', 'Surya'}

* **Dictionary in Python** - Dictionaries in Python are basically key,value pairs. 
    - In a dictionary, key can be any unique object
    - Keys are unique and non-duplicated
    - Values can be duplicated
    - Dictionaries can be constructed using the dict() or {:}

* Create Dictionary using the dict() keyword

In [41]:
d1 = dict()
d1
print(type(d1))
#'101'='Suraj','102'='Mahesh','103'='Surya','104'='Kiran','105'='Ravi'

<class 'dict'>

In [44]:
# idName = dict() 101 = 'Suraj' 102 = 'Mahesh' 103 = 'Surya' 104 = 'Ravi' 105 = 'Kiran' 106 = 'Mitra' idName
idName = dict()
idName[101]='Suraj'
idName[102]= 'Mahesh'
idName[103]= 'Surya'
idName[104]= 'Kiran'
idName[105]= 'Ravi'
idName

{101: 'Suraj', 102: 'Mahesh', 103: 'Surya', 104: 'Kiran', 105: 'Ravi'}

In [45]:
### Another way of creating the dictionary is the following idName = {101: 'Suraj',102: 'Mahesh',103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'} idName
idName1 = {101:'Suraj',102:'Mahesh',103:'Surya',104:'Kiran',105:'Ravi'}
idName1

{101: 'Suraj', 102: 'Mahesh', 103: 'Surya', 104: 'Kiran', 105: 'Ravi'}

* Retrieve the value of dictionary using key

In [47]:
### The dictionary name and the id can be passed to get the value - idName[101]
idName[101]

'Suraj'

In [48]:
idName[107]

KeyError: 107

* Check if the key is in the dictionary

In [49]:
### Check if a particular key is available in the dictionary - 101 in idName
101 in idName

True

In [50]:
107 in idName

False

In [52]:
key1 = 101
if key1 in idName:
    print(idName[key1])

Suraj

In [24]:
### CHeck if a particular key is not available in the dictionary - 109 not in idName print(109 not in idName) print(110 in idName)

True
False

* iterate over the dictionary using keys()

In [54]:
print(idName.keys())

dict_keys([101, 102, 103, 104, 105])

In [55]:
### We can iterate over the dictionary using the keys() function on the dictionary. for k in idName.keys(): print(f'Key is {k}')
for k in idName.keys():
    print(f'key is {k}')

key is 101
key is 102
key is 103
key is 104
key is 105

* Values for the dictionary using values()

In [56]:
idName.values()

dict_values(['Suraj', 'Mahesh', 'Surya', 'Kiran', 'Ravi'])

In [57]:
# for v in idName.values():    print(f'value is {v}')
for v in idName.values():
    print(f'Value is {v}')

Value is Suraj
Value is Mahesh
Value is Surya
Value is Kiran
Value is Ravi

* iterate over a dictionary using items()

In [60]:
a = (101, 'Suraj')
type(a)

tuple

In [62]:
id_st, name,dept = (101, 'Suraj','CSE')
print(id_st)
print(name)
print(dept)

101
Suraj
CSE

In [58]:
idName.items()

dict_items([(101, 'Suraj'), (102, 'Mahesh'), (103, 'Surya'), (104, 'Kiran'), (105, 'Ravi')])

In [64]:
#for key,value in idName.items():   print(f'Id is {key}, Name is {value}')
for k,v in idName.items():
    print(f'Id is {k},Name is {v}')

Id is 101,Name is Suraj
Id is 102,Name is Mahesh
Id is 103,Name is Surya
Id is 104,Name is Kiran
Id is 105,Name is Ravi

* Iterate over a dictionary using the dictionary object

In [67]:
### Using the dictionary object only the dictionary is used
# for keyVal in idName:  print(keyVal)
for k in idName:
    print(k)
    print(idName[k])

101
Suraj
102
Mahesh
103
Surya
104
Kiran
105
Ravi

* Delete a key in the dictionary using the del keyword

In [68]:
## Delete the key value pair using the del idName[key] del idName[101]
del idName[101]

In [69]:
# idName
idName

{102: 'Mahesh', 103: 'Surya', 104: 'Kiran', 105: 'Ravi'}

* To get a value from the dictionar using the get() function or the []

In [42]:
# idName[102]

'Mahesh'

In [43]:
# idName.get(102)

'Mahesh'

In [1]:
# lets create a dictionary like this below
idNames = {101:'Suraj',102: 'Mahesh', 103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'}

In [2]:
idNames[101]

'Suraj'

In [3]:
idNames.get(102)

'Mahesh'

* If the key is not in the dictionary using the get() method we can use the default value

In [4]:
### Lets say we dont have the key/value pair in the dictionary it returns a key error idName[109]
idNames[109]

KeyError: 109

In [5]:
# If the key is available then it returns the value idName.get(102,"Value is Not there")
idNames.get(102,'key is not present in the dictionary')

'Mahesh'

In [7]:
# idName.get(109,"Key/Value is Not there")
idNames.get(109,'key is not present in the dictionary')

'key is not present in the dictionary'

In [55]:
### To get the keys in the reversed order we can use reversed on the dictionary

In [11]:
for i in idNames:
    print(i)

101
102
103
104
105

In [8]:
# for i in reversed(idName): print(i)
for i in reversed(idNames):
    print(i)

106
105
104
103
102
101

In [9]:
## Collecting the dictionary keys as list - list(idName) list(idName)
list(idNames)

[101, 102, 103, 104, 105, 106]

* To remove one key,value pair from the dictionary - using popitem()

In [10]:
## idName.popitem() will remove one key value pair from the dictionary idName.popitem()
idNames.popitem()

(106, 'Mitra')

* To remove one key at a time from the dictionary - using pop()

In [12]:
### ## idName.pop(key) will pop one key value pair for the given key from the dictionary idName.pop(104)
idNames.pop(104)

'Ravi'

In [13]:
### If the key is not available in the dictionary, pop() shall given an error on the dictionary idName.pop(105)
idNames.pop(111)

KeyError: 111

* length of the dictionary - len() function

In [14]:
# To get the length of the dictionary len(idName)
len(idNames)

4

In [16]:
idNames

{101: 'Suraj', 102: 'Mahesh', 103: 'Surya', 105: 'Kiran'}

In [20]:
??dict

* Lets say we want to get the key,value pairs using the dictionary using dictionary comprehension

In [21]:
### Dictionary comprehension can be perfromed using the following: 


idName = {101: 'Suraj',102: 'Mahesh',103: 'Surya', 104: 'Ravi', 105: 'Kiran', 106: 'Mitra'}

# get only the even ids
evenIdNames = {k:v for k,v in idName.items() if k%2 == 0}


evenIdNames

{102: 'Mahesh', 104: 'Ravi', 106: 'Mitra'}