In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
X = df[['TV','radio','newspaper']]
y = df['sales']

In [6]:
# Standardization
y = np.array((y - y.mean())/y.std())
X = X.apply(lambda row: (row - row.mean())/row.std(), axis=0)

In [7]:
# M1 --> Initialize
# M2 --> calculate the y_pred
# M3 --> Calculate the loss
# M4 --> updating the parameters

In [8]:
import random
def initialize(dim):
    np.random.seed(42)
    random.seed(42)
    b = random.random()
    w = np.random.rand(dim)
    return b,w

In [9]:
b,w = initialize(3)
print(f"bias is {b}, and weights are {w}")
# b -> intercept
# w --> co-efficients

bias is 0.6394267984578837, and weights are [0.37454012 0.95071431 0.73199394]

In [10]:
#method 2
# Inputs --> b, w and x
def predict(b,w,X):
    return b + np.matmul(X,w)

In [11]:
X.shape

(200, 3)

In [13]:
b, w  = initialize(3)
y_hat  = predict(b,w,X)
y_hat[:5]

0    3.231496
1    1.707849
2    2.824761
3    2.753090
4    0.924486
dtype: float64

In [14]:
# Method 3
# calcualte the Loss
import math

def cal_cost(y,y_hat):
    resid = y-y_hat
    return np.sum(np.matmul(resid,resid.T))/len(resid) # MSE

In [15]:
b, w  = initialize(3)
y_hat  = predict(b,w,X)
cal_cost(y,y_hat)

1.53031001985059

In [18]:
# Method 4
def update_beta(x,y,y_hat,b_0,w_0,lr):
    db = (np.sum(y_hat - y)*2)/len(y)
    dw = (np.dot((y_hat-y),x)*2)/len(y)
    b_1 = b_0 -  lr*db
    w_1 = w_0 -  lr*dw
    return b_1,w_1

In [19]:
b, w  = initialize(3)
print(f"intiailized values are: bias is {b}, and weights are {w}")
y_hat  = predict(b,w,X)
b,w = update_beta(X,y,y_hat,b,w,0.01)
print(f"After Update, values are: bias is {b}, and weights are {w}")

intiailized values are: bias is 0.6394267984578837, and weights are [0.37454012 0.95071431 0.73199394]
After Update, values are: bias is 0.6266382624887261, and weights are [0.38079093 0.9376953  0.71484883]

In [17]:
def run_gradient_descent(X,y, alpha=0.01, num_iter = 100):
    b,w = initialize(X.shape[1])
    inter_num = 0
    gd_iterations_df = pd.DataFrame(columns=['iteration','loss'])
    result_idx = 0

    for iter in range(num_iter):
        y_hat = predict(b,w,X)
        iter_cost = cal_cost(y,y_hat)
        prev_b = b
        prev_w = w

        b,w = update_beta(X,y,y_hat, prev_b,prev_w, alpha)

        if (inter_num %10 == 0):
            gd_iterations_df.loc[result_idx] = [inter_num, iter_cost]
            result_idx = result_idx + 1
        inter_num += 1
   
    print(f"Final estimate of b and w are: {b} , {w} ")
    return gd_iterations_df, b,w

In [18]:
gd_iterations_df,b,w =run_gradient_descent(X,y,alpha=0.001, num_iter=400)

Final estimate of b and w are: 0.28708291582872 , [0.5619044  0.64258719 0.29463454]

In [19]:
gd_iterations_df

    iteration      loss
0         0.0  1.530310
1        10.0  1.465201
2        20.0  1.403145
3        30.0  1.343996
4        40.0  1.287615
5        50.0  1.233868
6        60.0  1.182630
7        70.0  1.133780
8        80.0  1.087203
9        90.0  1.042793
10      100.0  1.000444
11      110.0  0.960059
12      120.0  0.921545
13      130.0  0.884812
14      140.0  0.849776
15      150.0  0.816356
16      160.0  0.784476
17      170.0  0.754063
18      180.0  0.725048
19      190.0  0.697364
20      200.0  0.670949
21      210.0  0.645743
22      220.0  0.621689
23      230.0  0.598733
24      240.0  0.576824
25      250.0  0.555912
26      260.0  0.535950
27      270.0  0.516895
28      280.0  0.498704
29      290.0  0.481337
30      300.0  0.464755
31      310.0  0.448922
32      320.0  0.433802
33      330.0  0.419364
34      340.0  0.405574
35      350.0  0.392404
36      360.0  0.379825
37      370.0  0.367808
38      380.0  0.356330
39      390.0  0.345363