In [1]:
'helloworld'

'helloworld'

#### formatting of strings

In [1]:
'Name is {}'.format('Jayant')

'Name is Jayant'

In [2]:
name = input('Enter your name ')
classYear = input('Enter your class Name ')
subject = input('Enter the subject ')
print('Name of the student is {} Class is {} Subject is {}'.format(name,classYear,subject))

Enter your name Shashank
Enter your class Name BBA II CH
Enter the subject Python and Data Analytics
Name of the student is Shashank Class is BBA II CH Subject is Python and Data Analytics

In [3]:
print('Name of the student is ' + name +  'Class is' + classYear +  ' Subject is ' + subject)

Name of the student is ShashankClass isBBA II CH Subject is Python and Data Analytics

In [4]:
print('Name of the student is {} Class is {} Subject is {}'.format(name,classYear,subject))

Name of the student is Shashank Class is BBA II CH Subject is Python and Data Analytics

In [5]:
print('Name of the student is {1} Class is {0} Subject is {2}'.format(name,classYear,subject))

Name of the student is BBA II CH Class is Shashank Subject is Python and Data Analytics

inbuilt - functions : print, format , type, int and float - functionName(parameters)

### Function

A function is block of code that takes optionally an input and generates option output - User Defined functions

In [10]:
## Syntax is def functionName(parameters):
#                 return <returnValue>
## Python 
def printAll():
    pass
print('This is python introduction')

This is python introduction

In [11]:
printAll()

In [12]:
def printAllNew():
    print('This is python introduction - From printAllNew')

In [13]:
printAllNew()

This is python introduction - From printAllNew

In [14]:
## passing the parameter as input to the function
def greeting(name):
    print('Welcome to the class {} !'.format(name))

In [15]:
greeting('Shashank')

Welcome to the class Shashank !

In [16]:
inputName = input('Enter your name ')
greeting(inputName)

Enter your name Shashank Kumar
Welcome to the class Shashank Kumar !

In [17]:
def getMarksForStudent(name, marks):
    print('Name of the student is {} and marks are {}'.format(name,marks))
    
inputName = input('Enter your name ')
marks = float(input('Marks are '))
getMarksForStudent(inputName,marks)

Enter your name Shashank Kumar
Marks are 98
Name of the student is Shashank Kumar and marks are 98.0

### Conditional Statements

In [18]:
x = 10
if x > 0:
    print("Number is positive")
else:
    print("Number is negative")

Number is positive

In [19]:
slabrate = 10
if slabrate < 10:
    print('First Slab')
elif slabrate >= 10 and slabrate <20:
    print('second slab')
elif slabrate >= 20 and slabrate <30:     
    print('Third slab')
else:
    print('Special Slab')

second slab

In [20]:
def calculateTaxSlab(slabrate):
    if slabrate < 10:
        print('First Slab')
    elif slabrate >= 10 and slabrate <20:
        print('second slab')
    elif slabrate >= 20 and slabrate <30:     
        print('Third slab')
    else:
        print('Special Slab')

In [23]:
slabrate = input('Enter the slab rate')
slabrate = float(slabrate)
calculateTaxSlab(slabrate)

Enter the slab rate20.56
Third slab

In [27]:
x = 10
while x <15:
    print(x)
    x = x+1

10
11
12
13
14

In [28]:
def amount(price):
    price = price -  price * 0.1
    return price

In [30]:
claPrice = amount(100.0)

In [31]:
print(claPrice)

90.0

Reserved Words in Python are 
1. False 2. class 3. finally 4. is 5. return 6. None 7. continue 8.for 9. lambda 10.try
11. True 12. def 13. from 14.nonlocal 15. while 16. and 17.del 18. global 19. not 20. with
21. as 22. elif 23. if 24.or 25.yield 26. assert 27. import 28. pass 29. break 30. except 31. in 32. raise

In [32]:
val1 = 'this is intorduction to python'
val1.capitalize()

'This is intorduction to python'

In [33]:
val1.upper()

'THIS IS INTORDUCTION TO PYTHON'

In [34]:
val1.lower()

'this is intorduction to python'

In [35]:
val1.isupper()

False

In [36]:
val2 = 'THIS IS INTORDUCTION TO PYTHON'
val2.isupper()

True

In [37]:
val2.islower()

False

In [38]:
val2.islower()

False

In [39]:
val2.isupper()

True