<h6>Pandas sqlite</h6>

In [1]:
import os 
os.getcwd()

'C:\\Users\\Jayanth\\Python_DataAnalysis\\Pandas'

In [2]:
#filename: covid19_details.csv
import pandas as pd

df = pd.read_csv("covid19_details.csv", encoding="ISO-8859-1")

In [4]:
df.count()

dateRep                    7320
day                        7320
month                      7320
year                       7320
cases                      7320
deaths                     7320
countriesAndTerritories    7320
geoId                      7306
countryterritoryCode       7254
popData2018                7311
dtype: int64

In [6]:
mac_df = df[df['countriesAndTerritories']=="North_Macedonia"]

In [7]:
mac_df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
4982,28/03/2020,28,3,2020,18,0,North_Macedonia,MK,MKD,2082958.0
4983,27/03/2020,27,3,2020,24,1,North_Macedonia,MK,MKD,2082958.0
4984,26/03/2020,26,3,2020,29,0,North_Macedonia,MK,MKD,2082958.0
4985,25/03/2020,25,3,2020,12,0,North_Macedonia,MK,MKD,2082958.0
4986,24/03/2020,24,3,2020,22,1,North_Macedonia,MK,MKD,2082958.0
...,...,...,...,...,...,...,...,...,...,...
5057,04/01/2020,4,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5058,03/01/2020,3,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5059,02/01/2020,2,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5060,01/01/2020,1,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5061,31/12/2019,31,12,2019,0,0,North_Macedonia,MK,MKD,2082958.0

In [6]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///covid.db', echo=True)
sqlite_connection = engine.connect()

In [7]:
sqlite_table = "Covid19"
mac_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2023-04-07 07:05:13,904 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Covid19")
2023-04-07 07:05:13,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-07 07:05:13,912 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Covid19")
2023-04-07 07:05:13,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-07 07:05:13,924 INFO sqlalchemy.engine.Engine
CREATE TABLE "Covid19" (
	"index" BIGINT,
	"dateRep" TEXT,
	day BIGINT,
	month BIGINT,
	year BIGINT,
	cases BIGINT,
	deaths BIGINT,
	"countriesAndTerritories" TEXT,
	"geoId" TEXT,
	"countryterritoryCode" TEXT,
	"popData2018" FLOAT
)


2023-04-07 07:05:13,924 INFO sqlalchemy.engine.Engine [no key 0.00211s] ()
2023-04-07 07:05:13,940 INFO sqlalchemy.engine.Engine COMMIT
2023-04-07 07:05:13,940 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Covid19_index" ON "Covid19" ("index")
2023-04-07 07:05:13,944 INFO sqlalchemy.engine.Engine [no key 0.00218s] ()
2023-04-07 07:05:13,956 INFO sqlalchemy.engine.Engine COMMIT
2023-04-07 07:05:13,968 INFO sqlalchemy.engine.Engine INSERT INTO "Covid19" ("index", "dateRep", day, month, year, cases, deaths, "countriesAndTerritories", "geoId", "countryterritoryCode", "popData2018") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-07 07:05:13,972 INFO sqlalchemy.engine.Engine [generated in 0.00545s] ((4982, '28/03/2020', 28, 3, 2020, 18, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4983, '27/03/2020', 27, 3, 2020, 24, 1, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4984, '26/03/2020', 26, 3, 2020, 29, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4985, '25/03/2020', 25, 3, 2020, 12, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4986, '24/03/2020', 24, 3, 2020, 22, 1, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4987, '23/03/2020', 23, 3, 2020, 29, 1, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4988, '22/03/2020', 22, 3, 2020, 15, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (4989, '21/03/2020', 21, 3, 2020, 22, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0)  ... displaying 10 of 80 total bound parameter sets ...  (5060, '01/01/2020', 1, 1, 2020, 0, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0), (5061, '31/12/2019', 31, 12, 2019, 0, 0, 'North_Macedonia', 'MK', 'MKD', 2082958.0))
2023-04-07 07:05:13,976 INFO sqlalchemy.engine.Engine COMMIT
2023-04-07 07:05:13,988 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-04-07 07:05:13,988 INFO sqlalchemy.engine.Engine [raw sql] ()

80

In [9]:
sqlite_connection.close()

In [ ]:
### From terminal check the details
.open covid.db
select * from covid19;

In [11]:
### From pandas dataframe
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("covid.db")
df = pd.read_sql_query("SELECT * from covid19", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   index     dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0   4982  28/03/2020   28      3  2020     18       0         North_Macedonia
1   4983  27/03/2020   27      3  2020     24       1         North_Macedonia
2   4984  26/03/2020   26      3  2020     29       0         North_Macedonia
3   4985  25/03/2020   25      3  2020     12       0         North_Macedonia
4   4986  24/03/2020   24      3  2020     22       1         North_Macedonia

  geoId countryterritoryCode  popData2018
0    MK                  MKD    2082958.0
1    MK                  MKD    2082958.0
2    MK                  MKD    2082958.0
3    MK                  MKD    2082958.0
4    MK                  MKD    2082958.0